---
---

// 1. Your custom variables and variable overwrites.
$global-color: #005288;
$global-link-color: #005288;
$global-font-family: 'Raleway', -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Arial, sans-serif !default;

$global-primary-background: #005288;
$global-secondary-background: #009DDC;
$global-muted-background: #F6F7FF;
$global-border: #FF5E15;// #009DDC;
$container-padding-horizontal-m: 30px;
$button-padding-horizontal: 15px;

// navbar and navbar dropdown
$navbar-toggle-color: #005288;
$navbar-toggle-hover-color: #009DDC;
$navbar-background: #005288;
$navbar-nav-item-height: 42px;
$navbar-nav-item-font-size: 0.8rem;
$navbar-dropdown-nav-item-color: #333333;
$navbar-dropdown-nav-divider-border: #009DDC;

// breadcrumbs
$breadcrumb-item-color: #005288;
$breadcrumb-item-hover-color: #009DDC;
$breadcrumb-divider-color: #005288;
$breadcrumb-divider-margin-horizontal: 7px;

// primary button
$button-primary-background: #FF5E15;
$button-primary-color: #FFFFFF;
$button-primary-hover-background: #d44c27;
$button-primary-hover-color: #FFFFFF;
$button-primary-active-background: #FF5E15;
$button-primary-active-color: #FFFFFF;

// secondary button
$button-secondary-background: #FFFFFF;
$button-secondary-color: #FF5E15;
$button-secondary-hover-background: #FFFFFF;
$button-secondary-hover-color: #FF5E15;
$button-secondary-active-background: #FFFFFF;
$button-secondary-active-color: #FF5E15;

// nav
$nav-default-item-color: #FFFFFF;
$nav-default-item-hover-color: #F2F2F2;
$nav-default-item-active-color: #000000;

// forms
$form-horizontal-label-width: 120px;
$form-horizontal-controls-margin-left: 120px;

// 2. Import default variables and available mixins.
@import "variables-theme.scss";
@import "mixins-theme.scss";

// 3. Your custom mixin overwrites.
// @mixin hook-card() { color: #000; }
// buttons
@mixin hook-button-primary {
 font-weight: 600;
 font-size: 0.8rem;
 img {
   padding-left: 12px;
   margin-top: -3px;
 }
 &:hover {
  background-color: #009DDC!important; //d44c27;
  -webkit-transition: background-color 600ms ease;
  -ms-transition: background-color 600ms ease;
  transition: background-color 600ms ease;
 }
 &:focus {
  outline: 2px dotted #005288;
  outline-offset: 5px;
  background-color: #009DDC!important;
  color: #ffffff;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
 }
 &:active {
  background-color: #009DDC!important;
  outline: 2px dotted #005288;
  outline-offset: 5px;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
 }
}
@mixin hook-button-secondary {
 font-weight: 600;
 font-size: 0.8rem;
 border: 1px solid #FF5E15;
 &:hover {
  background-color: #FF5E15!important;
  color: #ffffff!important;
  -webkit-transition: background-color 1000ms ease;
  -ms-transition: background-color 1000ms ease;
  transition: background-color 1000ms ease;
 }
 &:focus {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
  outline: 2px dotted #005288;
  outline-offset: 5px;
  background-color: #FF5E15!important;
  color: #ffffff!important;
 }
 &:active {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
  background-color: #FF5E15;
  color: #ffffff;
 }
}



// 4. Import UIkit.
@import "uikit-theme.scss";

// Import my custom style sheet
@import "custom.scss"
