      <div class="uk-section padding-top-bottom-20  uk-hidden@m">
       <div class="uk-container">
        <div uk-grid>
           <div class="uk-width-1-1">
            {% if page.url != "/" %}
              <div class="uk-hidden@s">
              {% include social-media-bar.html %}
              </div>
            {% endif %}
            <h4 class="uk-heading-line uk-text-right fm-font-micro fm-font-navy fm-font-bold"><span>Accreditations</span></h4>
              <div class="uk-flex uk-flex-center uk-flex-wrap accredMobile">
                {% for accred in page.accreditations %}
                   <a href="{{ accred.accreditation_link }}"><img src="{{ accred.accreditation_path }}" alt="{{ accred.accreditation_alt }}"></a>
                {% endfor %}
              </div>
           </div><!-- end col -->

        </div><!-- end grid -->
       </div><!-- end container -->
      </div><!-- end accred mobile section -->
