      <div class="accredsBlockRight">
          <h4 class="uk-heading-line uk-text-right fm-font-micro fm-font-navy fm-font-bold"><span>Accreditations</span></h4>
          <div class="uk-flex uk-flex-right@m uk-flex-center uk-flex-wrap accreditationSide">
              {% for accred in page.accreditations %}
                 <a href="{{ accred.accreditation_link }}"><img src="{{ accred.accreditation_image }}" alt="{{ accred.accreditation_alt }}"></a>
              {% endfor %}
          </div>
          <div class="rightIntroText">
             <p>{{ page.accreditation_text }}</p>
          </div>
          <div class="uk-flex uk-flex-center uk-flex-right@m">
             <a class="uk-button uk-button-primary fm-width-100-mobile" href="{{ page.accreditation_link }}">READ ABOUT OUR ACCREDITATIONS<span><img src="/images/design-assets/icon-arrow-01.svg" alt="icon arrow"></span></a>
          </div>
      </div><!-- end accreds bar -->
