

              {% for item in site.alert %}
                 {% if item.alert_on == true %}
                 <!-- start alert -->
                 <div class="uk-section fm-padding-mini">
                    <div class="uk-container">
                       <div class="uk-alert-warning alerts" style="background-color: {{ item.background_colour }}" uk-alert>
                           {{ item.content | markdownify }}
                       </div>
                    </div>
                 </div><!-- end alert section -->
                 {% endif %}
              {% endfor %}
