          <!-- start breadcrumbs -->
          <div class="uk-section uk-padding-remove-vertical fm-border-bottom">

            <div class="uk-container fm-padding-mini">

              <div class="uk-child-width-1-1" uk-grid>

                <!-- main breadcrumbs -->
                <div class="uk-visible@m">
                 <ul class="uk-breadcrumb fm-breadcrumb">
                    <li>You are here: <a href="/index.html"><span><img src="/images/design-assets/icon-home-breadcrumb-01.svg"></span></a></li>
                    <li><a href="/services.html">Services</a></li>
                    <li><a href="/services/asbestos.html">Asbestos</a></li>
                    <li><span>Surveys</span></li>
                   </ul>
                </div>
                <!-- mobile breadcrumbs -->
                <div class="uk-hidden@m">
                </div>


              </div>


            </div><!-- end container -->




          </div><!-- end breadcrumbs section -->
