          <!-- start breadcrumbs -->
          <div class="uk-section uk-padding-remove-vertical fm-border-bottom">

            <div class="uk-container fm-padding-mini">

              <div class="uk-child-width-1-1" uk-grid>

                <!-- main breadcrumbs -->
                <div class="uk-visible@m">
                   {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}

                   <ul class="uk-breadcrumb fm-breadcrumb">
                   {% if page.url == "/" %}
                   <li><p>You are here: </p><span><img src="/images/design-assets/icon-home-breadcrumb-01.svg"></span></li>
                   {% else %}
                   <li><p>You are here: </p><a href="/"><span><img src="/images/design-assets/icon-home-breadcrumb-01.svg"></span></a></li>
                   {% endif %}
                   {% for crumb in crumbs offset: 1 %}
                     {% if forloop.last %}
                       <li><p>{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}</p></li>
                     {% else %}
                       <li><a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{% if forloop.last %}{{ crumb | append: '.html' }}{% else %}{{ crumb | append: '/' }}{% endif %}{% endfor %}">{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}</a></li>
                     {% endif %}
                   {% endfor %}
                   </ul>

                </div>
                <!-- mobile breadcrumbs -->
                <div class="uk-hidden@m mobileBreadCrumbs">
                 {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
                 {% assign limitLoop = crumbs.size | minus: 1  %}

                 {% if limitLoop <= 0 %}
                 <p><img src="/images/design-assets/icon-home-breadcrumb-01.svg"></p>
                 {% elsif limitLoop == 1 %}
                 <p>Up to: <span><</span> <a href="/"><img src="/images/design-assets/icon-home-breadcrumb-01.svg"></a></p>
                 {% else %}
                 <p>Up to: <span><</span> <a href="{% for item in crumbs limit: limitLoop %}{% if forloop.last %}{{ item | append: ".html" }}{% else %}{{ item | append: "/" }}{% endif %}{% endfor %}">{% for lastItem in crumbs limit: limitLoop %}{% if forloop.last %}{{ lastItem | replace:"-"," " | capitalize }}{% endif %}{% endfor %}</a></p>
                 {% endif %}

                </div>

              </div>


            </div><!-- end container -->




          </div><!-- end breadcrumbs section -->
