        {% comment %}Check if it is the home page{% endcomment %}
        {% if page.name == "index.html" %}
           {% for casestudy in site.case_studies %}
               {% if casestudy.featured_on_home == true %}

                      {% if forloop.first == true %}
                           <!-- start case study section -->
                           <div class="uk-section">
                              <div class="uk-container">
                                 <div uk-grid>
                                       <!-- col 1 -->
                                       <div class="uk-width-1-1 uk-width-1-2@s">
                                           <h3>{{ page.case_study_and_reviews.title_for_section }}</h3>
                                           <img class="uk-border-circle" srcset="{{ page.case_study_and_reviews.review_image }} 1x, {{ page.case_study_and_reviews.review_hiRes_image }} 2x" src="{{ page.case_study_and_reviews.review_image }}" alt="{{ page.case_study_and_reviews.review_alt_tag }}">
                                           <p>{{ page.case_study_and_reviews.quote_text }}</p>
                                           <p>{{ page.case_study_and_reviews.name_of_client }}<br>{{ page.case_study_and_reviews.company_name }}</p>
                                           <img src="/images/design-assets/icon-stars-01.svg" alt="5 stars">
                                       </div><!-- end col 1 -->

                                       <!-- col 2 -->
                                       <div>


                      {% elsif forloop.last != true %}


                      {% elsif forloop.last == true %}
                                       </div><!-- end col 2 -->

                                 </div><!-- end grid -->
                              </div><!-- end container -->
                           </div><!-- end case study section -->

                      {% else %}


                      {% endif %}


               {% endif %}

          {% endfor %}



        {% else %}






        {% endif %}
