      <!-- start feature block -->
      <div class="uk-section featureBlockSection">
        <div class="uk-container featureContainer">
           <!-- start grid -->
           <div class="uk-child-width-1-1 uk-child-width-1-4@s" uk-height-match=".featureH2" uk-grid>

              <!-- first col -->
              <div class="featureBlock">
                 <div class="horizontalPaddingFeature">
                      <img src="{{ page.feature_block.block1_icon }}" alt="{{ page.feature_block.block1_icon_alt }}">
                      <h2 class="featureH2">{{ page.feature_block.block1_heading }}</h2>
                      <p>{{ page.feature_block.block1_paragraph_text }}</p>
                 </div>
              </div><!-- end first col -->

              <!-- second col -->
              <div class="featureBlock">
                 <div class="horizontalPaddingFeature">
                       <img src="{{ page.feature_block.block2_icon }}" alt="{{ page.feature_block.block2_icon_alt }}">
                       <h2 class="featureH2">{{ page.feature_block.block2_heading }}</h2>
                       <p>{{ page.feature_block.block2_paragraph_text }}</p>
                 </div>
              </div><!-- end second col -->

             <!-- third col -->
             <div class="featureBlock">
                <div class="horizontalPaddingFeature">
                       <img src="{{ page.feature_block.block3_icon }}" alt="{{ page.feature_block.block3_icon_alt }}">
                       <h2 class="featureH2">{{ page.feature_block.block3_heading }}</h2>
                       <p>{{ page.feature_block.block3_paragraph_text }}</p>
                </div>
             </div><!-- end third col -->

             <!-- fourth col -->
             <div class="featureBlock lastFeature">
                 <div class="horizontalPaddingFeature">
                      <img src="{{ page.feature_block.block4_icon }}" alt="{{ page.feature_block.block4_icon_alt }}">
                      <h2 class="featureH2">{{ page.feature_block.block4_heading }}</h2>
                      <p>{{ page.feature_block.block4_paragraph_text }}</p>
                 </div>
             </div><!-- end fourth col -->


           </div><!-- end grid -->


        </div><!-- end container -->
      </div><!-- end feature block section -->
