
{% if page.gallery.with_gallery == true %}
<div class="uk-width-1-1">
   <div class="uk-child-width-1-2 uk-child-width-1-4@s uk-grid" uk-grid uk-lightbox="animation: slide">
   {% comment %}loop through gallery collection to find id{% endcomment %}
   {% for gallery in site.galleries %}
      {% if page.gallery.gallery_id == gallery.gallery_id %}
        {% for item in gallery.images %}

           <div>
            <a class="uk-inline" href="{{ item.source_image }}" data-caption="{{ item.caption }}">
                <img src="{{ item.source_image }}" alt="{{ item.caption }}">
            </a>
           </div>

        {% endfor %}
     {% endif %}
   {% endfor %}
   </div>
</div>
{% endif %}
