      <!-- start hero standard -->
      <section role="region" aria-label="headline with summary" class="uk-section heroStandardSection">
         <!-- start hero container -->
         <div class="uk-container">
            <!-- start grid -->
            <div uk-grid>
               <!-- start left col -->
               <div class="uk-width-1-1 uk-width-2-3@s">
                  <div class="heroStandardTextFormat uk-flex uk-flex-middle">
                    <div class="uk-flex uk-flex-column">
                       {{ page.hero.main_headline_html }}
                    </div>
                  </div>
               </div><!-- end left col -->

               <!-- start right col -->
               <div class="uk-width-1-1 uk-width-1-3@s">
                   <div class="heroStandardImage uk-flex uk-flex-center uk-flex-bottom"><img srcset="{{ page.hero.main_hero_image }}, {{ page.hero.main_hero_hi_res_image }} 2x" src="{{ page.hero.main_hero_image }}" alt="{{ page.hero.main_hero_alt_tag }}"></div>
               </div><!-- end right col -->



            </div><!-- end uk-grid -->
         </div><!-- end hero container -->
      </section><!-- end hero standard section -->
