      <!-- home intro section with accreds -->
      <div class="uk-section padding-top-bottom-20">

          <div class="uk-container">

              <div uk-grid>

                 <!-- first col -->
                 <div class="uk-width-1-1 uk-width-2-3@m">

                    <h2 class="underlineMarginText fm-font-navy fm-font-large h2Intro">{{ page.intro.intro_heading }}</h2>
                    <div class="uk-flex uk-flex-center uk-flex-left@m">
                       <div class="fm-headerLine"></div>
                    </div>
                    <div class="homeIntroPara">
                       {{ page.intro.intro_paragraph_html }}
                    </div>

                 </div><!-- end first col -->

                 <!-- second col -->
                 <div class="uk-width-1-1 uk-width-1-3@m uk-visible@m accreditations">

                    <h4 class="uk-heading-line uk-text-right fm-font-micro fm-font-navy fm-font-bold"><span>Accreditations</span></h4>
                    <div class="uk-flex uk-flex-right uk-flex-wrap">
                        {% for accred in page.accreditations %}
                           <a href="{{ accred.accreditation_link }}"><img src="{{ accred.accreditation_image }}" alt="{{ accred.accreditation_alt }}"></a>
                        {% endfor %}
                    </div>

                 </div><!-- end second col -->

              </div>

          </div>

      </div><!-- end intro section with accreds -->
