       {%- for banner in site.marketing_banners -%}
          {%- if page.marketing_graphic_banner_id == banner.marketing_banner_id -%}
            <!-- start graphic banner section -->
            <section role="region" aria-label="service benefit" class="uk-section uk-background-cover uk-background-fixed fm-margin-top-bottom-80 marketingBannerGraphic" style="background-image: url(/images/design-assets/banner-blue-microbe-strand-01.svg);">
               <div class="uk-container">
                  <div class="uk-width-1-1">
                      <p class="marketingBannerGraphicHeadline">{{ banner.banner_headline_text }}</p>
                      <p class="marketingBannerGraphicPara">{{ banner.banner_paragraph_text }}</p>
                      {%- if banner.with_button == true -%}
                      <a class="uk-button uk-button-primary marketingBannerLink outlineAccess" href="{{ banner.button_link }}">{{ banner.button_title }}<span><img src="/images/design-assets/icon-arrow-01.svg" alt="arrow icon"></span></a>
                      {%- endif -%}
                  </div>

               </div><!-- end container -->
            </section><!-- end graphic banner section -->

          {%- endif -%}
       {%- endfor -%}
