<div id="newsletter-subscribe" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title fm-font-bold fm-font-navy">Subscribe to our newsletter...</h2>
        <p class="fm-font-black">Please complete the form below to subscribe to our newsletter.</p>
        <button class="uk-modal-close-default" type="button" uk-close></button>

        <!-- Begin Mailchimp Signup Form -->
        <div id="mc_embed_signup">
        <form action="https://scientificservices.us2.list-manage.com/subscribe/post?u=df892ea585089e8798bb62a8e&amp;id=ee5e421581" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate uk-form-horizontal" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">

        <div class="indicates-required fm-font-micro"><span class="asterisk">*</span> indicates required</div>
        <div class="mc-field-group uk-margin">
        	<label class="uk-form-label fm-font-navy fm-font-bold" for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
        </label>
        	<div class="uk-form-controls"><input type="email" value="" name="EMAIL" class="required email uk-input fm-input-border" id="mce-EMAIL"></div>
        </div>
        <div class="mc-field-group uk-margin">
        	<label class="uk-form-label fm-font-navy fm-font-bold" for="mce-FNAME">First Name </label>
        	<div class="uk-form-controls"><input type="text" value="" name="FNAME" class="uk-input fm-input-border" id="mce-FNAME"></div>
        </div>
        <div class="mc-field-group uk-margin">
        	<label class="uk-form-label fm-font-navy fm-font-bold" for="mce-LNAME">Last Name </label>
        	<div class="uk-form-controls"><input type="text" value="" name="LNAME" class="uk-input fm-input-border" id="mce-LNAME"></div>
        </div>
        <div class="mc-field-group uk-margin">
        	<label class="uk-form-label fm-font-navy fm-font-bold" for="mce-MMERGE3">Company </label>
        	<div class="uk-form-controls"><input type="text" value="" name="MMERGE3" class="uk-input fm-input-border" id="mce-MMERGE3"></div>
        </div>
        <div class="mc-field-group input-group fm-margin-top-small">
            <strong>Interested in.... </strong>
            <ul style="list-style: none;"><li><input type="checkbox" value="1" name="group[5][1]" id="mce-group[5]-5-0"><label for="mce-group[5]-5-0">Asbestos Services</label></li>
        <li><input type="checkbox" value="2" name="group[5][2]" id="mce-group[5]-5-1"><label for="mce-group[5]-5-1">Micro Services</label></li>
        </ul>
        </div>
        <div class="mc-field-group input-group">
            <strong>Email Format </strong>
            <ul style="list-style: none;"><li><input type="radio" value="html" name="EMAILTYPE" id="mce-EMAILTYPE-0"><label for="mce-EMAILTYPE-0">html</label></li>
        <li><input type="radio" value="text" name="EMAILTYPE" id="mce-EMAILTYPE-1"><label for="mce-EMAILTYPE-1">text</label></li>
        </ul>
        </div>
        <div id="mergeRow-gdpr" class="mergeRow gdpr-mergeRow content__gdprBlock mc-field-group">
            <div class="content__gdpr">
                <label class="fm-font-bold fm-font-small">Marketing Permissions</label>
                <p class="fm-font-black">Please select all the ways you would like to hear from Scientific Services Ltd:</p>
                <fieldset class="mc_fieldset gdprRequired mc-field-group" name="interestgroup_field">
                <div class="uk-flex uk-flex-column">
                  <div><label class="checkbox subfield" for="gdpr_6017"><input type="checkbox" id="gdpr_6017" name="gdpr[6017]" value="Y" class="av-checkbox "><span>Email</span> </label></div>
                  <div><label class="checkbox subfield" for="gdpr_6021"><input type="checkbox" id="gdpr_6021" name="gdpr[6021]" value="Y" class="av-checkbox "><span>Direct Mail</span> </label></div>
                  <div><label class="checkbox subfield" for="gdpr_6025"><input type="checkbox" id="gdpr_6025" name="gdpr[6025]" value="Y" class="av-checkbox "><span>Customized Online Advertising</span> </label></div>
                <div>
                </fieldset>
                <p class="fm-font-black fm-font-micro">You can unsubscribe at any time by clicking the link in the footer of our emails. For information about our privacy practices, please visit our website.</p>
            </div>
            <div class="content__gdprLegal">
                <p class="fm-font-black fm-font-micro">We use Mailchimp as our marketing platform. By clicking below to subscribe, you acknowledge that your information will be transferred to Mailchimp for processing. <a href="https://mailchimp.com/legal/" target="_blank">Learn more about Mailchimp's privacy practices here.</a></p>
            </div>
        </div>
        	<div id="mce-responses" class="clear">
        		<div class="response" id="mce-error-response" style="display:none"></div>
        		<div class="response" id="mce-success-response" style="display:none"></div>
        	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_df892ea585089e8798bb62a8e_ee5e421581" tabindex="-1" value=""></div>
            <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="uk-button uk-button-primary fm-width-100-mobile">SUBSCRIBE<span><img src="/images/design-assets/icon-arrow-01.svg" alt="icon arrow"></span></button>
            </div>
        </form>
        </div>

        <!--End mc_embed_signup-->



    </div>
</div>
