<!-- Request quote modal -->
<div id="request-quote-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title fm-font-bold fm-font-navy">Request a Quote</h2>
        <p class="fm-font-black">Please complete the form below to request a quote.</p>
        <button class="uk-modal-close-default" type="button" uk-close></button>
          <form class="uk-form-horizontal uk-margin formWidth">

              <div class="uk-margin">
                  <label id="quoteFirstName" class="uk-form-label fm-font-navy fm-font-bold" for="form-first-name">FIRST NAME</label>
                  <div class="uk-form-controls">
                      <input role="textbox" contenteditable="true" aria-labelledby="quoteFirstName" class="uk-input fm-input-border" id="form-first-name" type="text" placeholder="">
                  </div>
              </div>

              <div class="uk-margin">
                  <label id="quoteSurname" class="uk-form-label fm-font-navy fm-font-bold" for="form-second-name">SURNAME</label>
                  <div class="uk-form-controls">
                      <input role="textbox" contenteditable="true" aria-labelledby="quoteSurname" class="uk-input fm-input-border" id="form-second-name" type="text" placeholder="">
                  </div>
              </div>

              <div class="uk-margin">
                  <label id="quoteEmail" class="uk-form-label fm-font-navy fm-font-bold" for="form-second-name">EMAIL</label>
                  <div class="uk-form-controls">
                      <input role="textbox" contenteditable="true" aria-labelledby="quoteEmail" class="uk-input fm-input-border" id="form-second-name" type="text" placeholder="">
                  </div>
              </div>

              <div class="uk-margin">
                  <label id="quoteTelephone" class="uk-form-label fm-font-navy fm-font-bold" for="form-second-name">TELEPHONE</label>
                  <div class="uk-form-controls">
                      <input role="textbox" contenteditable="true" aria-labelledby="quoteTelephone" class="uk-input fm-input-border" id="form-second-name" type="text" placeholder="">
                  </div>
              </div>

              <div class="uk-margin">
                  <label id="quoteCompany" class="uk-form-label fm-font-navy fm-font-bold" for="form-subject">COMPANY</label>
                  <div class="uk-form-controls">
                      <input role="textbox" contenteditable="true" aria-labelledby="quoteCompany" class="uk-input fm-input-border" id="form-subject" type="text" placeholder="if applicable">
                  </div>
              </div>

              <div class="uk-margin">
                  <label id="quoteSubject" class="uk-form-label fm-font-navy fm-font-bold" for="form-subject">SUBJECT</label>
                  <div class="uk-form-controls">
                      <input role="textbox" contenteditable="true" aria-labelledby="quoteSubject" class="uk-input fm-input-border" id="form-subject" type="text" placeholder="">
                  </div>
              </div>

              <div class="uk-margin">
                  <label id="quoteMessage" class="uk-form-label fm-font-navy fm-font-bold" for="form-message">MESSAGE</label>
                  <div class="uk-form-controls">
                   <textarea role="textbox" contenteditable="true" aria-multiline="true" aria-labelledby="quoteMessage" class="uk-textarea fm-input-border" rows="5" id="form-message" placeholder=""></textarea>
                  </div>
              </div>

              <div class="uk-flex uk-flex-center uk-flex-left@m">
                 <button type="submit" name="submit" class="uk-button uk-button-primary formSubmit">SUBMIT<span><img src="/images/design-assets/icon-arrow-01.svg" alt="icon arrow"></span></button>
              </div>
          </form><!-- end form -->

    </div>
</div>
