       <!-- nav-main -->
       <div class="uk-section">

         <div class="uk-container">

            <!-- start nav -->
           <div class="uk-position-relative">
            <nav class="uk-navbar-container" uk-navbar>

               <div id="alignNav" class="uk-navbar-right">

                   <ul class="uk-navbar-nav">
                       {% if site.data.main-menu.mainmenu[0] %}
                            {% for item in site.data.main-menu.mainmenu %}

                                 {% if item.subfolderitems[0] and item.subfolderitems.subsubfolderitems[0] %}
                                 <li><a href="{{ item.url }}">{{ item.title }}</a>



                                 </li>
                                 {% elsif item.subfolderitems[0] %}
                                 <li><a href="{{ item.url }}">{{ item.title }}</a>



                                 </li>
                                 {% else %}

                                  <li><a href="{{ item.url }}">{{ item.title }}</a></li>

                                 {% endif %}

                            {% endfor %}
                       {% endif %}
                   </ul>



               </div><!-- end alignNav -->

            </nav><!-- end nav -->
            <div class="uk-navbar-dropbar"></div>
           </div>


         </div><!-- end container -->



      </div><!-- end nav main section -->
