          {%- comment -%}Check to see if this is the homepage{%- endcomment -%}
          {%- if page.url == "/" -%}

             {%- comment -%} Check to see if any news exists{%- endcomment -%}
             {%- if site.posts[0] -%}

             <!-- start home title news section -->
             <section role="region" aria-labelledby="news-heading" class="uk-section newsHeaderSection">

               <div class="uk-container">

                  <div class="uk-grid" uk-grid>
                      <!-- start news heading -->
                      <div class="uk-width-1-1">
                         <h2 id="news-heading" class="underlineMarginText fm-font-navy fm-font-large">Latest News</h2>
                         <div class="uk-flex uk-flex-center uk-flex-left@m">
                            <div class="fm-headerLine"></div>
                         </div>
                      </div>
                  </div><!-- end grid -->

               </div><!-- end container -->

             </section><!-- end home title news section -->

             <!-- start news block section -->
             <section role="region" aria-label="news articles" class="uk-section newsBlockSection">

                <div class="uk-container">

                    <div  class="uk-child-width-1-1 uk-child-width-1-2@s uk-grid" uk-grid>
                        {%- for news in site.posts -%}
                            {%- if page.news.news_block_1 == news.parent_category -%}
                        <!-- start news block 1 -->
                        <div>
                             <div class="newsBlock uk-grid" uk-grid>
                                 <!-- image -->
                                 <div class="uk-width-1-1 uk-width-auto@s">
                                   <a href="{{ news.url }}"><img srcset="{{ news.page_summary.thumbnail_image }} 1x, {{ news.page_summary.thumbnail_hiRes_image }} 2x" src="{{ news.page_summary.thumbnail_image }}" alt="{{ news.page_summary.summary_alt_tag }}"></a>
                                 </div>
                                 <!-- text -->
                                 <div class="uk-width-1-1 uk-width-expand@s">
                                   <h4><a href="{{ news.url }}">{{ news.page_summary.summary_title }}</a></h4>
                                   <p><a href="{{ news.url }}">{{ news.page_summary.summary_description }}</a></p>
                                 </div>
                             </div><!-- end nested grid -->
                        </div><!-- end news block 1 -->
                             {%- break -%}

                            {%- endif -%}
                        {%- endfor -%}




                        {%- for news in site.posts -%}
                            {%- if page.news.news_block_2 == news.parent_category -%}
                        <!-- start news block 2 -->
                        <div>
                             <div class="newsBlock uk-grid" uk-grid>
                                 <!-- image -->
                                 <div class="uk-width-1-1 uk-width-auto@s">
                                   <a href="{{ news.url }}"><img srcset="{{ news.page_summary.thumbnail_image }} 1x, {{ news.page_summary.thumbnail_hiRes_image }} 2x" src="{{ news.page_summary.thumbnail_image }}" alt="{{ news.page_summary.summary_alt_tag }}"></a>
                                 </div>
                                 <!-- text -->
                                 <div class="uk-width-1-1 uk-width-expand@s">
                                   <h4><a href="{{ news.url }}">{{ news.page_summary.summary_title }}</a></h4>
                                   <p><a href="{{ news.url }}">{{ news.page_summary.summary_description }}</a></p>
                                 </div>
                             </div><!-- end nested grid -->
                        </div><!-- end news block 2 -->
                             {%- break -%}

                            {%- endif -%}
                        {%- endfor -%}




                        {%- for news in site.posts -%}
                            {%- if page.news.news_block_3 == news.parent_category -%}
                        <!-- start news block 3 -->
                        <div>
                             <div class="newsBlock uk-grid" uk-grid>
                                 <!-- image -->
                                 <div class="uk-width-1-1 uk-width-auto@s">
                                   <a href="{{ news.url }}"><img srcset="{{ news.page_summary.thumbnail_image }} 1x, {{ news.page_summary.thumbnail_hiRes_image }} 2x" src="{{ news.page_summary.thumbnail_image }}" alt="{{ news.page_summary.summary_alt_tag }}"></a>
                                 </div>
                                 <!-- text -->
                                 <div class="uk-width-1-1 uk-width-expand@s">
                                   <h4><a href="{{ news.url }}">{{ news.page_summary.summary_title }}</a></h4>
                                   <p><a href="{{ news.url }}">{{ news.page_summary.summary_description }}</a></p>
                                 </div>
                             </div><!-- end nested grid -->
                        </div><!-- end news block 3 -->
                             {%- break -%}

                            {%- endif -%}
                        {%- endfor -%}

                        {%- for news in site.posts -%}
                            {%- if page.news.news_block_4 == news.parent_category -%}
                        <!-- start news block 4 -->
                        <div>
                             <div class="newsBlock uk-grid" uk-grid>
                                 <!-- image -->
                                 <div class="uk-width-1-1 uk-width-auto@s">
                                   <a href="{{ news.url }}"><img srcset="{{ news.page_summary.thumbnail_image }} 1x, {{ news.page_summary.thumbnail_hiRes_image }} 2x" src="{{ news.page_summary.thumbnail_image }}" alt="{{ news.page_summary.summary_alt_tag }}"></a>
                                 </div>
                                 <!-- text -->
                                 <div class="uk-width-1-1 uk-width-expand@s">
                                   <h4><a href="{{ news.url }}">{{ news.page_summary.summary_title }}</a></h4>
                                   <p><a href="{{ news.url }}">{{ news.page_summary.summary_description }}</a></p>
                                 </div>
                             </div><!-- end nested grid -->
                        </div><!-- end news block 4 -->
                             {%- break -%}

                            {%- endif -%}
                        {%- endfor -%}

                    </div><!-- end of news block grid -->

                </div><!-- end of news block container -->

             </section><!-- end news block section -->
             {%- else -%}
               {%- comment -%}Do nothing as there is no news{%- endcomment -%}

             {%- endif -%}


          {%- else -%}
            {%- comment -%}All news blocks for other pages and not the homepage{%- endcomment -%}
            {%- comment -%}check to see how many news stories there are {%- endcomment -%}
            {%- assign i = 0 -%}
            {%- for news in site.posts -%}
               {%- if page.child_page_category == news.parent_category -%}
                  {%- assign i = i | plus:1 -%}
               {%- endif -%}
            {%- endfor -%}



            {%- if i == 0 -%}
             {%- comment -%}There is no news for this category{%- endcomment -%}

            {%- else -%}

            <!-- start home title news section -->
            <section role="region" aria-labelledby="news-heading" class="uk-section newsHeaderSection">

              <div class="uk-container">

                 <div class="uk-grid" uk-grid>
                     <!-- start news heading -->
                     <div class="uk-width-1-1">
                        <h2 id="news-heading" class="underlineMarginText fm-font-navy fm-font-large">Latest News</h2>
                        <div class="uk-flex uk-flex-center uk-flex-left@m">
                           <div class="fm-headerLine"></div>
                        </div>
                     </div>
                 </div><!-- end grid -->

              </div><!-- end container -->

            </section><!-- end home title news section -->



            <!-- start news block section -->
            <section role="region" aria-label="news articles" class="uk-section newsBlockSection">

               <div class="uk-container">

                   <div  class="uk-child-width-1-1 uk-child-width-1-2@s uk-grid" uk-grid>
                       {%- assign counter = 0 -%}
                       {%- for news in site.posts -%}
                           {%- if counter >= 4 -%}
                              {%- break -%}

                           {%- elsif counter >= i -%}
                              {%- break -%}

                           {%- endif -%}

                           {%- if page.child_page_category == news.parent_category and counter < i -%}
                       <!-- start news block -->
                       <div>
                            <div class="newsBlock uk-grid" uk-grid>
                                <!-- image -->
                                <div class="uk-width-1-1 uk-width-auto@s">
                                  <a href="{{ news.url }}"><img srcset="{{ news.page_summary.thumbnail_image }} 1x, {{ news.page_summary.thumbnail_hiRes_image }} 2x" src="{{ news.page_summary.thumbnail_image }}" alt="{{ news.page_summary.summary_alt_tag }}"></a>
                                </div>
                                <!-- text -->
                                <div class="uk-width-1-1 uk-width-expand@s">
                                  <h4><a href="{{ news.url }}">{{ news.page_summary.summary_title }}</a></h4>
                                  <p><a href="{{ news.url }}">{{ news.page_summary.summary_description }}</a></p>
                                </div>
                            </div><!-- end nested grid -->
                       </div><!-- end news block -->
                            {%- comment -%}Update the counter{%- endcomment -%}
                            {%- assign counter = counter | plus:1 -%}

                           {%- endif -%}
                       {%- endfor -%}


                       {%- if i > 4 -%}
                       <div class="uk-width-1-1 uk-flex uk-flex-center newsButtonRow">
                           <a class="uk-button uk-button-primary fm-width-100-mobile" href="{{ page.news_archive }}">VIEW ALL LATEST NEWS<span><img src="/images/design-assets/icon-arrow-01.svg" alt="arrow icon"></span></a>
                       </div>
                       {%- endif -%}

                   </div><!-- end of news block grid -->

               </div><!-- end of news block container -->

            </section><!-- end news block section -->



            {%- endif -%}



          {%- endif -%}
          <!-- newsletter signup -->
          <section role="region" aria-labelledby="newsletter-signup" class="uk-section uk-background-cover uk-background-fixed newsLetterSignupSection" style="background-image: url(/images/design-assets/banner-blue-microbe-strand-01.svg);">
             <div class="uk-container">

                <div class="uk-grid" uk-grid>

                   <!-- first col -->
                   <div class="uk-width-1-1 uk-width-auto@s uk-flex uk-flex-column uk-flex-center uk-flex-middle">
                        <img class="newsletterIcon" src="/images/design-assets/newsletter-subscribe-01.svg" alt="subscribe to newsletter icon">
                        <a class="uk-button uk-button-primary newsletterSubscribeButton outlineAccess" href="#newsletter-subscribe" uk-toggle>SUBSCRIBE</a>
                   </div><!-- end first col -->

                   <!-- second col -->
                   <div class="uk-width-1-1 uk-width-expand@s newsletterExtraMargin">
                       <h5 id="newsletter-signup">{{ page.newsletter_signup.newsletter_heading }}</h5>
                       {{ page.newsletter_signup.newsletter_subheading_html }}
                   </div><!-- end of second col -->

                </div>

             </div><!-- end of container -->


         </section><!-- end of newsletter signup section -->
