<div class="newsletterRightContainer">
    <h4 class="uk-heading-line uk-text-right fm-font-micro fm-font-navy fm-font-bold"><span>{{ page.newsletter_signup.newsletter_signup_title }}</span></h4>
    <div class="uk-flex uk-flex-center uk-flex-right@m">
       <a class="uk-button uk-button-primary fm-width-100-mobile" href="#">{{ page.newsletter_signup.newsletter_button_title }}<span><img src="/images/design-assets/icon-arrow-01.svg" alt="icon arrow"></span></a>
    </div>
</div><!-- end accreds bar -->
