      <!-- start services block -->
      {% if site.services[0] %}
      <div class="uk-section">

          <div class="uk-container">

             <!-- start grid -->
             <div class="uk-child-width-1-3" uk-grid>
             {% if page.child_page_type == "primary" %}
                  {% comment %}I.e. used to identify primary pages for listing on the homepage {% endcomment %}
                  {% assign sorted_services = site.services | sort: "order" %}
                  {% for service in sorted_services %}
                     {% if page.child_page_type == service.landing_page_type  %}
                         <div>
                           <p>{{ service.page_summary.summary_title }}</p>
                         </div>

                     {% endif %}
                  {% endfor %}
             {% elsif page.child_page_type == "secondary" %}
                  {% comment %}I.e. used to identify pages for listing on the primary landing page{% endcomment %}
                  {% assign sorted_services = site.services | sort: "order" %}
                  {% for service in sorted_services %}

                      {% if page.child_page_type == service.landing_page_type and page.category == service.parent_category %}
                          <div>
                             <p>{{ service.page_summary.summary_title }}</p>
                          </div>
                      {% endif %}

                  {% endfor %}



             {% endif %}

             </div>

          </div><!-- end container -->

      </div><!-- end services block -->
      {% endif %}
