      <!-- start services block -->
      {% if site.services[0] %}
      <section role="region" aria-label="list of services" class="uk-section padding-top-bottom-20 fm-margin-bottom-20">

          <div class="uk-container">

             <!-- start grid -->
             <ul id="mainContent" tabindex="-1" class="serviceList">
             {%- if page.child_page_type == "primary" -%}
                  {%- comment -%}I.e. used to identify primary pages for listing on the homepage {%- endcomment -%}
                  {%- assign sorted_services = site.services | sort: "order" -%}
                  {%- for service in sorted_services -%}
                     {%- if page.child_page_type == service.landing_page_type  -%}


                     <li class="serviceListItem primaryBlockAnim" onclick='window.location.href="{{ service.url }}"' tabindex="-1">

                          <div class="serviceHeaderImage">
                              <a href="{{ service.url }}"><img class="uk-border-circle" srcset="{{ service.page_summary.thumbnail_image }} 1x, {{ service.page_summary.thumbnail_hiRes_image }} 2x" src="{{ service.page_summary.thumbnail_image }}" alt="{{ service.page_summary.summary_alt_tag }}"></a>
                              <h3>{{ service.page_summary.summary_title }}</h3>
                          </div>
                          <p>{{ service.page_summary.summary_description }}</p>
                          <a class="uk-button uk-button-secondary fm-width-100" href="{{ service.url }}">{{ service.page_summary.summary_button_title }}</a>

                     </li>

                     {%- endif -%}
                  {%- endfor -%}

             {%- elsif page.child_page_type == "secondary" -%}
                  {%- comment -%}I.e. used to identify pages for listing on the primary landing page{%- endcomment -%}
                  {%- assign sorted_services = site.services | sort: "order" -%}
                  {%- for service in sorted_services -%}

                      {%- if page.child_page_type == service.landing_page_type and page.child_page_category == service.parent_category -%}
                      <li class="serviceListItem secondaryBlockAnim" onclick='window.location.href="{{ service.url }}"' tabindex="-1">

                           <div class="serviceHeaderImage">
                               <a href="{{ service.url }}"><img class="uk-border-circle uk-transition-scale-up uk-transition-opaque" srcset="{{ service.page_summary.thumbnail_image }} 1x, {{ service.page_summary.thumbnail_hiRes_image }} 2x" src="{{ service.page_summary.thumbnail_image }}" alt="{{ service.page_summary.summary_alt_tag }}"></a>
                               <h3>{{ service.page_summary.summary_title }}</h3>
                           </div>
                           <p>{{ service.page_summary.summary_description }}</p>
                           <a class="uk-button uk-button-secondary fm-width-100" href="{{ service.url }}">{{ service.page_summary.summary_button_title }}</a>

                      </li>
                      {%- endif -%}

                  {%- endfor -%}

             {%- endif -%}

             </ul><!-- end flexColumn-->

          </div><!-- end container -->

      </section><!-- end services block -->
      {%- endif -%}
