         <!-- off canvas content -->
         <div id="offCanvasMenu" uk-offcanvas>

            <div class="uk-offcanvas-bar">
              <button class="uk-offcanvas-close" type="button" uk-close></button>

              <h2>Menu</h2>
              <a class="uk-button uk-button-default fm-width-100 margin-bottom-mini" href="">REQUEST A QUOTE<span><img class="buttonIcon" src="/images/design-assets/icon-quote-01.svg" alt="icon quote"></span></a>


               <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
               {% if site.data.main-menu.mainmenu[0] %}

                  {% for item in site.data.main-menu.mainmenu %}

                      {% if item.subfolderitems[0] %}
                      <li class="uk-parent firstLevelHeaders">
                          <a href="{{ item.url }}">{{ item.title }}</a>

                          <ul class="uk-nav-sub">
                          {% for entry in item.subfolderitems  %}
                               {% if entry.subsubfolderitems[0] %}
                               <li class="uk-parent secondLevelHeaders uk-nav-divider"><a href="{{ entry.url }}">{{ entry.page }}</a>
                                   <ul class="uk-nav-sub">
                                      {% for lastitem in entry.subsubfolderitems %}
                                          <li><a href="{{ lastitem.url }}">{{ lastitem.page }}</a></li>

                                      {% endfor %}
                                   </ul>
                               </li>

                               {% else %}
                                  <li class="secondLevelHeaders uk-nav-divider"><a href="{{ entry.url }}">{{ entry.page }}</a></li>
                               {% endif %}

                          {% endfor %}
                          </ul>
                      </li>
                      {% else %}

                      <li class="firstLevelHeaders"><a href="{{ item.url }}">{{ item.title }}</a></li>

                      {% endif %}


                  {% endfor %}

              {% endif %}
              </ul>

            </div><!-- end of uk-offcanvas-bar -->
         </div><!-- end of uk-offcanvas -->
         <!-- end off canvas content -->
