         <!-- off canvas content -->
         <div id="offCanvasMenu" uk-offcanvas>

            <div class="uk-offcanvas-bar">
              <button class="uk-offcanvas-close" type="button" uk-close></button>

              <h2>Menu</h2>
              <a class="uk-button uk-button-default fm-width-100 margin-bottom-mini" href="">REQUEST A QUOTE<span><img class="buttonIcon" src="/images/design-assets/icon-quote-01.svg" alt="icon quote"></span></a>


               <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
               {% if site.data.main-menu.mainmenu[0] %}

                  {% for item in site.data.main-menu.mainmenu %}

                      {% if item.subfolderitems[0] %}
                      <li class="uk-parent firstLevelHeaders {% if item.url == page.url %}navActive{% endif %}">
                          <a href="{{ item.url }}">{{ item.title }}</a>

                          <ul class="uk-nav-sub">
                          {% for entry in item.subfolderitems  %}
                               {% if entry.subsubfolderitems[0] %}
                               <li class="uk-parent secondLevelHeaders uk-nav-divider {% if entry.url == page.url %}navActive{% endif %}"><a href="{{ entry.url }}">{{ entry.page }}</a>
                                   <ul class="uk-nav-sub">
                                      {% for lastitem in entry.subsubfolderitems %}
                                          <li class="thirdLevelHeaders {% if lastitem.url == page.url %}navActive{% endif %}"><a href="{{ lastitem.url }}">{{ lastitem.page }}</a></li>

                                      {% endfor %}
                                   </ul>
                               </li>

                               {% else %}
                               <li class="secondLevelHeaders uk-nav-divider {% if entry.url == page.url %}navActive{% endif %}"><a href="{{ entry.url }}">{{ entry.page }}</a></li>
                               {% endif %}

                          {% endfor %}
                          </ul>
                      </li>
                      {% else %}

                      <li class="firstLevelHeaders {% if item.url == page.url %}navActive{% endif %}"><a href="{{ item.url }}">{{ item.title }}</a></li>

                      {% endif %}


                  {% endfor %}

              {% endif %}
              </ul>

              <!-- add social media bar -->
              <div id="offCanvasMedia" class="offCanvasSocialMedia uk-flex uk-flex-center">
                 <a href="{{ site.data.company.social_media.facebook }}"><img src="/images/design-assets/icon-facebook-white-01.svg" alt="facebook icon"></a>
                 <a href="{{ site.data.company.social_media.google }}"><img src="/images/design-assets/icon-google-plus-white-01.svg" alt="google plus icon"></a>
                 <a href="{{ site.data.company.social_media.linkedin }}"><img src="/images/design-assets/icon-linkedin-white-01.svg" alt="linkedin icon"></a>
                 <a href="{{ site.data.company.social_media.twitter }}"><img src="/images/design-assets/icon-twitter-white-01.svg" alt="twitter icon"></a>
              </div><!-- end offCanvasMedia -->

            </div><!-- end of uk-offcanvas-bar -->
         </div><!-- end of uk-offcanvas -->
         <!-- end off canvas content -->
