      <!-- begin social media bar -->
      <div class="socialMediaBar uk-flex uk-flex-right">
        <a href="#"><img src="/images/design-assets/icon-square-email-01.svg" alt="email share icon"></a>
        <a href="#"><img src="/images/design-assets/icon-square-facebook-01.svg" alt="facebook share icon"></a>
        <a href="#"><img src="/images/design-assets/icon-square-google-plus-01.svg" alt="google plus share icon"></a>
        <a href="#"><img src="/images/design-assets/icon-square-linkedIn-01.svg" alt="linkedIn share icon"></a>
        <a href="#"><img src="/images/design-assets/icon-square-twitter-01.svg" alt="twitter share icon"></a>
      </div>
