<!-- start secondary main content -->
<div class="uk-section mainSecondarySection">
    <!-- start secondary main container -->
    <div class="uk-container">
       <!-- start main grid -->
       <div uk-grid>

          <!-- lefthand content -->
          <div class="uk-width-1-1 uk-width-2-3@m">

              <!-- begin nested grid -->
              <div uk-grid>

                 {% include author-block.html %}

                 {% comment %}check to see if there is an intro block{% endcomment %}
                 {% if page.main_intro.with_intro_block == true %}

                 <!-- intro para -->
                 <div class="uk-width-1-1">
                    <p class="mainIntroPara">{{ page.main_intro.intro_paragraph_text }}</p>
                 </div><!-- end intro para -->

                 <!-- contents -->
                 <div class="uk-width-1-1 uk-width-1-3@s contentLinks"
                     <ul>
                     {% for item in page.main_intro.content_list %}
                        <li><a href="#{{ item.list_item_id }}">{{ item.list_item }}</a></li>
                     {% endfor %}
                     </ul>
                 </div><!-- end contents -->

                 <!-- intro image -->
                 <div class="uk-width-1-1 uk-width-2-3@s">
                     <img srcset="{{ page.main_intro.intro_image }} 1x, {{ page.main_intro.intro_hi_res_image }} 2x" src="{{ page.main_intro.intro_image }}" alt="{{ page.main_intro.intro_image_alt_tag }}">
                 </div><!-- end of intro image -->

                 {% endif %}{% comment %}End of check to see if there is an intro block{% endcomment %}

                 <!-- main content -->
                 <div class="uk-width-1-1 mainContentStyling">
                   <div>{{ content }}</div>

                 </div><!-- end main content -->

                 {% include gallery.html %}

                 <!-- social media below article -->
                 <div class="uk-width-1-1 uk-flex uk-flex-right uk-visible@m">

                    {% include social-media-bar.html %}

                 </div><!-- end social media below article -->

              </div><!-- end nested lefthand grid -->


          </div><!-- end lefthand content -->



          <!-- right hand content -->
          <div class="uk-width-1-1 uk-width-1-3@m">

              <!-- right hand social media -->
              <div class="uk-flex uk-flex-center uk-flex-right@m">
              {% include social-media-bar.html %}
              </div><!-- end right hand social media -->

              <!-- accreds bar -->
              {% include accreds-right.html %}

             <!-- marketing banner -->
             {% include testimonial-right.html %}

             <!-- newsletter signup -->
             {% include newsletter-signup-small.html %}





          </div><!-- end right hand content -->



       </div><!-- end main grid -->
    </div><!-- end secondary main container -->
</div><!-- end secondary main content -->
