// add my custom styles to this SASS style sheet

// *****************
// *** VARIABLES ***
// *****************

// colors
$fm-blue-navy: #005288;
$fm-blue: #009DDC;
$fm-blue-muted: #F6F7FF;
$fm-blue-muted-fade: #F7F8FF;
$fm-orange: #FF5E15;
$fm-black: #1A1A1A;
$fm-white: #FFFFFF;
$fm-blue-royal: #0000FF;

// font weights
$fm-weight-heavy: 800;
$fm-weight-medium: 600;
$fm-weight-regular: 400;

// gutters
$fm-gutter-micro: 7px;
$fm-gutter-mini: 15px;
$fm-gutter-20: 20px;
$fm-gutter-small: 30px;
$fm-gutter-40: 40px;
$fm-gutter-medium: 60px;
$fm-gutter-large: 80px;

// font sizes
$fm-font-micro: 0.86rem;
$fm-font-mini: 1rem; // 16px
$fm-font-small: 1.2rem; // 19px
$fm-font-small-mid: 1.375rem; // 22px;
$fm-font-medium: 1.83rem; //
$fm-font-large: 2.1rem;

// line height
$fm-line-height-micro: 1.36;
$fm-line-height-mini: 1.83;
$fm-line-height-small: 2;
$fm-line-height-medium: 1.45;
$fm-line-height-large: 1.24;

// borders
$fm-border-height: 1px;
$fm-border-height-underline: 1px;




// ********************
// *** MEDIA MIXINS ***
// ********************

// less than or equal to 639px
@mixin small {
  @media only screen and (max-width: #{$breakpoint-xsmall-max}) {
    @content;
  }
}

// between 640 and 959 pixels
@mixin medium {
  @media (min-width: #{$breakpoint-small}) and (max-width: #{$breakpoint-small-max}) {
    @content;
  }
}

// between 960 pixels and 1199 pixels, i.e. small tablet
@mixin large {
  @media (min-width: #{$breakpoint-medium}) and (max-width: #{$breakpoint-medium-max}) {
    @content;
  }
}

// between 1200 and 1599 pixels, i.e. tablet and medium screens
@mixin extraLarge {
  @media (min-width: #{$breakpoint-large}) and (max-width: #{$breakpoint-large-max}) {
    @content;
  }
}

// screens greater than or equal to 1600
@mixin largest {
  @media (min-width: #{$breakpoint-xlarge}) {
    @content;
  }
}

@mixin megaLarge {
  @media (min-width: 2200px) {
   @content;
  }
}



// *********************
// *** ACCESSIBILITY ***
// *********************

button {
 &:focus {
  //background-color: yellow!important;
  //color: black!important;
  outline: 2px dotted $fm-blue-navy!important;
  outline-offset: 5px!important;
 }
}

// add a focus to any a link
a {
 &:focus {
  //background-color: yellow!important;
  //color: black!important;
  outline: 2px dotted $fm-blue-navy!important;
  outline-offset: 5px!important;
  z-index:999;

  img {
   //border: 5px solid yellow;
   //outline: 2px dotted $fm-blue;
  }
 }

}

.outlineAccess {
  &:focus {
   outline: 2px dotted white!important;
   outline-offset: 5px!important;
 }
}

.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
    &:focus {
     color: #fff;
     background-color:$fm-blue-navy;
     left: 0px!important;
     top: auto;
     width: auto;
     height: auto;
     overflow:auto;
     margin: $fm-gutter-mini $fm-gutter-mini;
     padding: $fm-gutter-micro $fm-gutter-mini;
     //border-radius: 15px;
     //border:4px solid yellow;
     //text-align:center;
     font-size:1em;
     z-index:999;
    }
    &:active {
     color: #fff;
     background-color:$fm-blue-navy;
     left: 0px!important;
     top: auto;
     width: auto;
     height: auto;
     overflow:auto;
     margin: $fm-gutter-mini $fm-gutter-mini;
     padding: $fm-gutter-micro $fm-gutter-mini;
     //border-radius: 15px;
     //border:4px solid yellow;
     text-align:center;
     font-size:1em;
     z-index:999;

    }
}




// ***********************
// *** utility classes ***
// ***********************

// not sure we need this as it is better to use the grid
.uk-list-inline > li {
    list-style: none;
    display: inline-block;

}

// padding
.fm-padding-mini {
 padding-top: $fm-gutter-mini;
 padding-bottom: $fm-gutter-mini;
}

.fm-padding-mini-left {
 padding-left: $fm-gutter-mini;
}

.fm-no-padding-bottom {
 padding-bottom: 0;
}

.fm-padding-right-small {
 padding-right: $fm-gutter-mini;
}

.padding-top-bottom-20 {
 padding-top: $fm-gutter-20;
 padding-bottom: $fm-gutter-20;
}

.padding-top-bottom-40 {
 padding-top: $fm-gutter-40;
 padding-bottom: $fm-gutter-40;
}

.padding-top-bottom-60 {
 padding-top: $fm-gutter-medium;
 padding-bottom: $fm-gutter-medium;
}

.padding-top-bottom-none {
 padding-top: 0px;
 padding-bottom: 0px;
}

// margins
.margin-bottom-mini {
 margin-bottom: $fm-gutter-mini;
}

.fm-margin-bottom-micro {
 margin-bottom: $fm-gutter-micro;
}

.fm-no-margin-bottom {
 margin-bottom: 0;
}

.fm-margin-right-small {
 margin-right: $fm-gutter-mini;
}

.fm-margin-bottom-20 {
 margin-bottom: $fm-gutter-20;
}

.fm-margin-bottom-40 {
 margin-bottom: $fm-gutter-40;
}

.fm-no-margin-top-bottom {
 margin-top: 0!important;
 margin-bottom: 0!important;
}

.fm-margin-top-bottom-20 {
 margin-top: $fm-gutter-20;
 margin-bottom: $fm-gutter-20;
}

.fm-margin-top-bottom-40 {
 margin-top: $fm-gutter-40;
 margin-bottom: $fm-gutter-40;
}

.fm-margin-top-bottom-80 {
 margin-top: $fm-gutter-large;
 margin-bottom: $fm-gutter-large;
}

.fm-margin-top-small {
 margin-top: $fm-gutter-small;
}

.fm-margin-top-large {
 margin-top: $fm-gutter-large;
}



// borders
.fm-border-bottom {
 border-bottom: $fm-border-height solid $fm-blue;
}

.fm-headerLine {
 width: 150px;
 height: $fm-border-height-underline;
 background-color: $fm-blue;
 margin-bottom: $fm-gutter-small;

}

// fonts

.fm-font-white {
  color: $fm-white;
}

.fm-font-navy {
 color: $fm-blue-navy;
}

.fm-font-black {
 color: $fm-black;
}

.fm-font-bold {
 font-weight: $fm-weight-heavy;
}

.fm-font-regular {
 font-weight: $fm-weight-regular;
}

.fm-font-feature {
 font-size: $fm-font-mini;
}

.fm-font-large {
  font-size: $fm-font-large;
}

.fm-font-small {
 font-size: $fm-font-small;
}

.fm-font-mini {
 font-size: $fm-font-mini;
}

.fm-font-micro {
  font-size: $fm-font-micro;
}

// widths
.fm-width-100 {
 width: 100%;
}

.fm-width-100-mobile {
 @include small {
  width: 100%;
 }
}

// background
.fm-background-navy {
 background-color: $fm-blue-navy;
}

.fm-background-blue {
 background-color: $fm-blue;
}

// forms
.fm-input-border {
 border: 1px solid $fm-orange;
}

// other
.underlineMarginText {
 margin-bottom: $fm-gutter-micro;
}


// *************************
// *** headerTop section ***
// *************************

.headerTop {

 padding-top: 0;
 padding-bottom: 0;

 border-bottom: $fm-border-height solid $fm-blue;

 color: $fm-blue-navy;

 p {
   font-size: $fm-font-micro;
 }

}

.headerParaPaddingLeft {
 padding-left: $fm-gutter-micro;
}

.headerParaPaddingRight {
 padding-right: $fm-gutter-small;
 @include small {
  padding-right: 0;
 }
 @include medium {
  padding-right: 0;
 }
}

// ******************************
// *** MAIN NAV WITH FEATURES ***
// ******************************

.navFeature {
  img {
    padding-right: $fm-gutter-micro;
    padding-top: 3px;
  }
  div {
    width: 134px;

  }
  p {
    font-size: $fm-font-micro;
    line-height: $fm-line-height-micro;
    margin-bottom: 0;
  }
}

.navBorderBottom {
 @include small {
  border-bottom: $fm-border-height solid $fm-blue;
 }
 @include medium {
  border-bottom: $fm-border-height solid $fm-blue;
 }

}

// ***********************
// *** SIDE NAVIGATION ***
// ***********************

.firstLevelHeaders {
 font-size: $fm-font-small;
 a {
   color: $fm-white!important;
 }
}

.secondLevelHeaders {
 font-size: $fm-font-mini;
 font-weight: $fm-weight-heavy;
 a {
  color: $fm-white!important;
 }

}

.thirdLevelHeaders {
 font-weight: $fm-weight-regular;
 opacity: 1;
}

.navActive {
 & > a {
   opacity: 0.4;
 }

}



.buttonIcon {
 margin-top: -3px;
 padding-left: 12px;
}

.offCanvasSocialMedia {
  margin-top: $fm-gutter-small;
  img {
    width: 50px;
    // height: auto;
    padding-right: $fm-gutter-mini;
  }
}

// ***********************
// *** MAIN NAVIGATION ***
// ***********************

.navMainActive {
 // using ampersand and > symbol only targets child and not nested children
 & > a {
  border-bottom: 3px solid $fm-blue;
 }
}

.mainParentNavLink {
 & > a {
  color: $fm-white!important;
  &:focus {
   outline: 2px dotted white!important;
   outline-offset: -2px!important;
  }
 }

}

.finalLinkBlue {
 & > a {
   background-color: $fm-blue;
 }
}




// *************
// *** ALERT ***
// *************

.alerts {
 p {
   color: $fm-blue-navy;
 }
}

// *******************
// *** BREADCRUMBS ***
// *******************

.fm-breadcrumbheader {
 padding-right: $fm-gutter-mini;
}

.fm-breadcrumb {
  img {
    width: 18px;
    height: auto;
    margin-top: -6px;
    margin-left: $fm-gutter-micro;
 }
 p {
   margin-bottom: 0;
   &:hover {
         color: $fm-blue-navy;
   }
 }

}

.mobileBreadCrumbs {
 img {
   width: 18px;
   height: auto;
   margin-top: -6px;
   margin-left: 0;
 }
 p {
   margin-bottom: 0;
 }
 span {
   margin-left: 5px;
   margin-right: 5px;
 }

}

// **************
// *** FOOTER ***
// **************

.footerSection {
  padding-top: 0px;
  margin-top: $fm-gutter-large;
  @include small {
    margin-top: $fm-gutter-40;
  }
}

.footerExtraMobileMargin {
 @include small {
   margin-top: $fm-gutter-large!important;
 }
 @include medium {
  margin-top: $fm-gutter-large!important;
 }
}

.footerPaddingExtraBalance {
 padding-top: 0px;
 @include large {
  padding-top: 16px;
 }
 @include extraLarge {
  padding-top: 16px;
 }
 @include largest {
  padding-top: 16px;
 }
}

.formWidth {
 @include medium {
   width: 60%;
   margin: auto;
 }
}

.formSubmit {
 margin-left: 120px;
 @include small {
   margin-left: 0;
   width: 100%;
 }
 @include medium {
  margin: auto;
 }
}


.flexFooterSocialMedia {
 img {
  width: 55px;
  height: 55px;
 }
}

.flexSocialMediaMargin {
  margin-right: $fm-gutter-mini;
  margin-bottom: $fm-gutter-mini;
}

/*.footerTeamPerson {
  img {
   width: 220px;
   height: 224px;
  }
  margin-top: -166px;
  @include small {
   margin-top: $fm-gutter-small;
  }
  @include medium {
   margin-top: $fm-gutter-small;
  }

}*/

.footerTeamPerson {
 height: 500px;
 @include small {
  height: auto;
  margin-top: $fm-gutter-medium;
 }
 @include medium {
  height: auto;
  margin-top: $fm-gutter-medium;
 }
 img {
  width: 220px;
  height: 224px;
 }

}

.bottomFooter {
  padding-top: $fm-gutter-mini;
  padding-bottom: $fm-gutter-mini;
}

.footerBandLightBlue {
 padding-top: 0;
 padding-bottom: 0;
 height: 20px;
}

.bottomFooterLinks {
 a {
   color: $fm-white;
   font-size: $fm-font-micro;
   padding-right: $fm-gutter-mini;
   &:focus {
    outline: 2px dotted white!important;
    outline-offset: 2px!important;
   }
 }
 @include small {
   a {
     padding-top: $fm-gutter-micro;
   }
 }
 @include medium {
   a {
     padding-top: $fm-gutter-micro;
   }
 }

}

.bottomFooterLinksRight {
 @include small {
  margin-top: $fm-gutter-mini!important;
 }
 @include medium {
  margin-top: $fm-gutter-mini!important;
 }
 a {
   color: $fm-white;
   font-size: $fm-font-micro;
   &:focus {
    outline: 2px dotted white!important;
    outline-offset: 2px!important;
   }
 }
}


.footerScrollTopIcon {
 //margin-top: -130px;
 @include small {
   //margin-top: -200px;
 }
 @include medium {
  //margin-top: -170px;
 }
 position: fixed;
 display: none;
 bottom: $fm-gutter-mini;
 right: $fm-gutter-mini;
 z-index: 99;
 img {
  box-shadow: 5px 5px 6px 0px rgba(0,0,0,0.3);
 }







}

// ************
// *** HERO ***
// ************

.heroSection {
 background-image: linear-gradient($fm-blue-muted-fade, $fm-blue-muted);
 padding-top: 0;
 padding-bottom: 0;
 margin-bottom: $fm-gutter-20;
}

.heroTextFormat {
 padding-left: $fm-gutter-large;
 margin-top: $fm-gutter-micro;
 margin-bottom: $fm-gutter-micro;
 padding-top: $fm-gutter-mini;
 padding-bottom: $fm-gutter-mini;

 @include small {
  padding-left: $fm-gutter-small;
  padding-top: $fm-gutter-40;
  h1 {
   text-align: center;
   }
  a {
   width: 100%;
   margin-bottom: $fm-gutter-mini!important;
   }
  }
 h1 {
  color: $fm-blue-navy;
  font-size: $fm-font-large;
  margin-bottom: $fm-gutter-micro;
 }
 p {
  color: $fm-black;
  font-size: $fm-font-micro;
  margin-top: $fm-gutter-micro;
  margin-bottom: $fm-gutter-mini;
 }
 ul {
  color: $fm-black;
  font-size: $fm-font-micro;
  margin-top: $fm-gutter-micro;
  margin-bottom: $fm-gutter-mini;
 }
 a {
  //margin-bottom: $fm-gutter-40;
 }

}

.heroHeight100 {
 // height: 100%;
 min-height: 320px;
 @include small {
  min-height: 160px;
 }
}

.heroImage {
  padding-top: $fm-gutter-mini;
  @include small {
    padding-top: 0;
    margin-top: $fm-gutter-small!important;
  }
  img {
    width: 100%;//392px;
    max-width: 392px;
    //height: 333px;
 }
}


// ******************
// *** HOME INTRO ***
// ******************

.h2Intro {
  @include small {
    text-align: center;
  }
  @include medium {
   text-align: center;
  }
}


.homeIntroPara {

 @include small {
   text-align: center;
 }

 @include medium {
   text-align: center;
 }

  p {
   color: $fm-black;
   font-size: $fm-font-small;
   line-height: $fm-line-height-small;
  }
}

.accreditations {
  img {
    padding-left: $fm-gutter-small;
    padding-bottom: $fm-gutter-small;
  }
}

// ***********************
// *** INTRO ALL PAGES ***
// ***********************

.socialMediaBar {
  img {
    padding-top: 0px;
    padding-left: 0px;
    margin-left: $fm-gutter-micro;
    padding-bottom: 0px;
  }
  @include small {
    margin-bottom: $fm-gutter-medium;
    img {
      width: 48px;
      height: auto;
      margin-right: $fm-gutter-micro;
    }
  }
}



// *********************
// *** SERVICE BLOCK ***
// *********************

.servicesExtraMargin {
 margin-bottom: $fm-gutter-40;
}


.serviceList {
 padding-left: 0;
 display: flex;
 flex-flow: row wrap;
 justify-content: flex-start;
}



.serviceListItem {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-bottom: $fm-gutter-small;
  background-color: $fm-blue-muted;
  width: 30%;
  flex: 0 0 32%;
  margin: 1% 0;
  &:nth-child(3n-1) {
    margin-left: 2%;
    margin-right: 2%;
  }
  img {
   max-width: 74px;
   max-height: 74px;
   margin-left: $fm-gutter-mini;
   margin-top: $fm-gutter-mini;
  }
  h3 {
   margin-left: $fm-gutter-mini;
   margin-right: $fm-gutter-mini;
   margin-top: $fm-gutter-20;
   font-weight: $fm-weight-heavy;
   color: $fm-blue-navy;
   font-size: $fm-font-small;
  }
  p {
   flex: 1 0 auto;
   margin-left: 104px;
   margin-right: $fm-gutter-mini;
   margin-top: -10px; // -36
   color: $fm-black;
  }
  @include small {
    width: 100%;
    flex: 0 0 98%;
    margin-top: 3%;
    margin-bottom: 3%;
    &:nth-child(1n-0) {
      margin-left: 1%;
      margin-right: 1%;
    }
    img {
      margin-left: auto;
      margin-right: auto;
      max-width: 124px;
      max-height: 124px;
    }
    h3 {
      margin-left: 0px;
      margin-right: 0px;
      margin-top: $fm-gutter-small;
      margin-bottom: $fm-gutter-mini;
      font-size: $fm-font-medium;
    }
    p {
      text-align: center;
      margin-left: $fm-gutter-mini;
      margin-right: $fm-gutter-mini;
      margin-top: 0px;
      margin-bottom: $fm-gutter-mini;
      line-height: $fm-line-height-small;
    }
  }
  @include medium {
    flex: 0 0 46%;
    width: 45%;
    margin-top: 2%;
    margin-bottom: 2%;
    &:nth-child(1n+1) {
      margin-left: 2%;
      margin-right: 2%;
    }
  }


}


.serviceHeaderImage {
 display: flex;
 align-items: center;
 @include small {
   flex-direction: column;
   text-align: center;
 }

}

// *****************************
// *** MOBILE ACCREDITATIONS ***
// *****************************

.accredMobile {
 img {
   margin: $fm-gutter-mini $fm-gutter-small;
   width: 80px;

 }

}

// **************************
// *** TESTIMONIAL BANNER ***
// **************************

.testimonialBanner {
 @include small {
   padding-bottom: $fm-gutter-20;
 }
 p {
   color: $fm-white;
   font-size: $fm-font-small-mid;
 }
 span {
   font-size: $fm-font-mini;
 }
 @include small {
   p {
     text-align: center;
   }
   span {
    font-size: $fm-font-small;
   }

 }
}

.testimonialStars {
  margin-top: $fm-gutter-mini;
  margin-bottom: $fm-gutter-mini;
  @include small {
    min-height: 28px;
  }

}

.testimonialQuoteMark {
 margin-right: $fm-gutter-small;
 width: 84px;
}

.noTestimonialCasestudy {
  padding-right: $fm-gutter-medium;
}

// ******************************
// *** MARKETING BANNER PHOTO ***
// ******************************

.marketingBannerPhotoSection {

 @include largest {
   min-height: 700px;
 }

 @include megaLarge {
   min-height: 900px;
 }

}


.marketingBannerPhoto {
  div {
    padding: $fm-gutter-small $fm-gutter-small;
    background-color: $fm-white;
  }
  @include small {
   text-align: center;
  }
  h3 {
    font-size: $fm-font-large;
    color: $fm-blue-navy;
    margin-bottom: 0px;
  }
  p {
    font-size: $fm-font-mini;
    color: $fm-black;
    line-height: $fm-line-height-small;
    margin-bottom: 0px;
  }
  a {
    margin-top: $fm-gutter-mini;
  }

}

.marketingPhotoHeadlineWidth {
  width: 46%;
  @include small {
    width: auto;
  }
  @include medium {
   width: 60%;
  }
}

.marketingPhotoParaWidth {
  width: 38%;
  @include small {
    width: auto;
  }
  @include medium {
    width: 56%;
  }
}

// ****************************
// *** COMPANY HOME SECTION ***
// ****************************

.companyContainer {
  padding-top: 0px;
  padding-bottom: 0px;
}

.companyIntro {

  @include small {
    text-align: center;
  }
  @include medium {
    text-align: center;
  }

}

.companyIntroPara {
 width: 76%;
 font-size: $fm-font-small;
 color: $fm-black;
 line-height: $fm-line-height-small;
 margin-top: 0px;
 @include small {
   width: 100%;
 }
 @include medium {
  width: 100%;
 }
}

.listingStyles {

  h4 {
   font-size: $fm-font-small-mid;
   font-weight: $fm-weight-heavy;
   margin-top: $fm-gutter-small;
   color: $fm-blue-navy;
   text-align: center;

  }
  p {
   font-size: $fm-font-mini;
   color: $fm-black;
   line-height: $fm-line-height-small;
   padding-left: $fm-gutter-mini;
   padding-right: $fm-gutter-mini;
  }
  @include small {
   text-align: center;
  }

}

// ********************************
// *** MARKETING BANNER GRAPHIC ***
// ********************************

.marketingBannerGraphic {
  padding-top: 160px;
  padding-bottom: 160px;
  text-align: center;
  @include small {
   padding-top: $fm-gutter-large;
   padding-bottom: $fm-gutter-large;
  }
}

.marketingBannerGraphicHeadline {
  font-weight: $fm-weight-heavy;
  font-size: $fm-font-large;
  color: $fm-white;
  margin-bottom: $fm-gutter-micro;
  @include small {
   padding-left: $fm-gutter-mini;
   padding-right: $fm-gutter-mini;
  }
}

.marketingBannerGraphicPara {
  font-size: $fm-font-micro;
  color: $fm-white;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: $fm-line-height-small;
  @include small {
    font-size: $fm-font-mini;
    padding-left: $fm-gutter-mini;
    padding-right: $fm-gutter-mini;
  }
}

.marketingBannerLink {
  margin-top: $fm-gutter-small;
}

// ******************************
// *** CASE STUDIES & REVIEWS ***
// ******************************

.caseStudySection {
 margin-top: $fm-gutter-large;
 margin-top: $fm-gutter-large;
 @include small {
   margin-bottom: $fm-gutter-40;
 }
 @include medium {
  margin-bottom: $fm-gutter-medium;
 }
}


.caseStudyMainHeading {
 @include small {
   text-align: center;
 }
 @include medium {
   text-align: center;
 }
 font-size: $fm-font-large;
 color: $fm-blue-navy;
}

.caseStudySlider {
  width: 86%;
  @include small {
    width: 100%;
  }
}

.sliderContainerWidth {
 width: 100%;
}

.caseStudyCol {
 margin-top: 0px;
 margin-bottom: 0px;
 @include small {
  //margin-top: $fm-gutter-medium;
  //margin-bottom: $fm-gutter-medium;
  text-align: center;
 }
}

.firstColCaseStudy {
 @include small {
   margin-top: 0px!important;
 }
}



.caseStudyPreview {
 background-color: $fm-blue-muted;
 h4 {
  margin-left: $fm-gutter-small;
  margin-right: $fm-gutter-small;
 }
 p {
  margin-left: $fm-gutter-small;
  margin-right: $fm-gutter-small;
 }
 a {
  margin-left: $fm-gutter-small;
  margin-right: $fm-gutter-small;
  margin-bottom: $fm-gutter-small;
 }

}



.reviewAuthorImage {
 width: 80px;
 height: 80px;
 margin-bottom: $fm-gutter-micro;
 @include small {
   width: 124px;
   height: 124px;
 }
}

.reviewParagraphQuote {
 line-height: $fm-line-height-small;
 font-weight: $fm-weight-heavy;
 color: $fm-black;
 font-size: $fm-font-small;
 @include small {
   font-size: $fm-font-small;
 }
}

.reviewAuthorName {
 line-height: $fm-line-height-small;
}

.reviewStars {
 width: 180px;
}

.caseStudyText {
 h4 {
  font-weight: $fm-weight-heavy;
  font-size: $fm-font-small-mid;
  color: $fm-blue-navy;
  margin-top: $fm-gutter-small;
 }
 p {
  color: $fm-black;
  line-height: $fm-line-height-small;
 }
 @include small {
   h4 {
    margin-bottom: $fm-gutter-micro;
   }
   p {
    margin-top: $fm-gutter-micro;
   }
 }
}

.inlineSliderNav {
 background-color: $fm-white;
 margin-top: 2px;
 margin-right: 2px;
 padding: 2px 2px;

}

.onlyOneCaseStudyWidth {
 width: 419px;
 @include small {
  width: 100%;
 }

}

// ******************
// *** NEWS BLOCK ***
// ******************

.newsHeaderSection {
 margin-top: 0px;
 margin-bottom: 0px;
 padding-top: 0px;
 padding-bottom: 0px;
 @include small {
   text-align: center;
 }
 @include medium {
   text-align: center;
 }
}

.newsBlockSection {
  background-color: $fm-blue-muted;
  padding-top: $fm-gutter-40;
  padding-bottom: $fm-gutter-40;
}

.newsBlock {
  @include small {
   text-align: center;
  }
  h4 {
   font-weight: $fm-weight-heavy;
   color: $fm-blue-navy;
   font-size: $fm-font-mini;
   margin-bottom: $fm-gutter-micro;
  }
  p {
   color: $fm-black;
   line-height: $fm-line-height-small;
   font-size: $fm-font-micro;
   margin-top: $fm-gutter-micro;
  }
  p a {
   color: $fm-black;
  }
  img {
   width: 154px;
   height: auto;
  }
  @include small {
    h4 {
      font-size: $fm-font-small-mid;
    }
    p {
      font-size: $fm-font-mini;
    }
  }

}

.newsButtonRow {
 margin-top: $fm-gutter-40!important;
}

.newsLetterSignupSection {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: $fm-gutter-40;
  padding-bottom: $fm-gutter-40;
  h5 {
    font-size: $fm-font-large;
    color: $fm-white;
    font-weight: $fm-weight-heavy;
    margin-bottom: $fm-gutter-micro;
  }
  p {
    font-size: $fm-font-mini;
    color: $fm-white;
    margin-top: 0px;
  }
  @include small {
    padding-top: $fm-gutter-medium;
    padding-bottom: $fm-gutter-medium;
    text-align: center;
  }
}

.newsletterExtraMargin {
  padding-left: $fm-gutter-medium;
  @include small {
    padding-left: $fm-gutter-small;
  }

}

.newsletterIcon {
  margin-bottom: $fm-gutter-mini;
  @include small {
    width: 100px;
    height: auto;
    margin-bottom: $fm-gutter-40;
  }
}

.newsletterSubscribeButton {
  @include small {
    width: 60%;
  }
}

// **********************
// *** VIDEO SECTIONS ***
// **********************

.videoSection {
  margin-top: $fm-gutter-large;
  margin-bottom: $fm-gutter-large;
  padding-top: 0px;
  padding-bottom: 0px;

  h3 {
    font-size: $fm-font-large;
    color: $fm-blue-navy;
  }

  h4 {
    font-size: $fm-font-small;
    color: $fm-black;
    margin-top: 0px;
  }

  p {
    color: $fm-black;
    line-height: $fm-line-height-small;
    font-size: $fm-font-micro;
  }
  @include small {
    text-align: center;
  }
  @include medium {
    //text-align: center;
  }

}

// **********************
// *** CALL TO ACTION ***
// **********************

.callToActionBanner {
  // margin-bottom: $fm-gutter-large;
  margin-top: $fm-gutter-large;
  padding-top: $fm-gutter-40;
  padding-bottom: $fm-gutter-40;
  padding-left: $fm-gutter-medium;
  padding-right: $fm-gutter-medium;
  h4 {
   font-size: $fm-font-small-mid;
   color: $fm-white;
   font-weight: $fm-weight-heavy;
   margin-bottom: $fm-gutter-micro;
  }
  p {
   color: $fm-white;
   font-size: $fm-font-micro;
   line-height: $fm-line-height-small;
   margin-top: $fm-gutter-micro;
  }
  @include small {
    padding-top: $fm-gutter-large;
    padding-bottom: $fm-gutter-large;
    margin-top: $fm-gutter-large;
    text-align: center;
    padding-left: $fm-gutter-mini;
    padding-right: $fm-gutter-mini;
    h4 {
      font-size: $fm-font-medium;
    }
    p {
      font-size: $fm-font-mini;
    }
  }
  @include medium {
    padding-left: $fm-gutter-small;
    padding-right: $fm-gutter-small;
  }


}

// **********************
// *** HERO SECONDARY ***
// **********************



.heroImageSecondary {
  padding-top: $fm-gutter-mini;
  min-height: 400px;
  @include small {
    padding-top: 0;
    margin-top: $fm-gutter-small!important;
    min-height: initial;
  }
  @include medium {
   min-height: 320px;
  }
  img {
    width: 100%;//392px;
    max-width: 520px;
    //height: 333px;
  }
}

.heroTextDiv {
 width: 70%;
 padding-top: $fm-gutter-medium;
 padding-left: $fm-gutter-large;
 padding-bottom: $fm-gutter-large;
 @include small {
  width: 100%;
  padding-top: $fm-gutter-40;
  padding-left: 0px;
  padding-bottom: 0;
 }
 @include medium {
   width: 90%;
   padding-top: $fm-gutter-small;
   padding-left: $fm-gutter-small;
 }
}

.heroTextFormatSecondary {
 //padding-left: $fm-gutter-large;
 //padding-top: $fm-gutter-small;

 @include small {
  padding-left: $fm-gutter-small;
  text-align: center;
  h1 {
   text-align: center;
   }
  a {
   width: 100%;
   margin-bottom: $fm-gutter-mini!important;
   }
  }
 h1 {
  color: $fm-blue-navy;
  font-size: $fm-font-large;
 }
 p {
  color: $fm-black;
  font-size: $fm-font-micro;
  line-height: $fm-line-height-small;
 }
 ul {
  color: $fm-black;
  font-size: $fm-font-micro;
 }
 a {
  margin-bottom: $fm-gutter-40;
 }

}

// *********************
// *** FEATURE BLOCK ***
// *********************

.featureBlockSection {
  padding-top: $fm-gutter-small;
  padding-bottom: $fm-gutter-small;
  margin-top: -145px;
  position: relative;
  @include small {
    margin-top: 0px;
    padding-top: 0px;

  }
}

.featureContainer {
  background-color: $fm-white;
  margin-left: $fm-gutter-medium;
  margin-right: $fm-gutter-medium;
  padding-left: $fm-gutter-mini;
  padding-right: $fm-gutter-mini;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  @include small {
   margin-left: 5px;
   margin-right: 5px;
   box-shadow: none;
   padding-left: 0px;
   padding-right: 0px;
  }
  @include medium {
   margin-left: 5px;
   margin-right: 5px;
  }


}

.featureBlock {
  position: relative;
  text-align: center;
  padding-top: $fm-gutter-small;
  padding-bottom: $fm-gutter-40;
  //padding-left: $fm-gutter-small;
  //padding-right: $fm-gutter-small;
  h2 {
    font-size: $fm-font-mini;
    font-weight: $fm-weight-heavy;
    color: $fm-blue-navy;
    margin-top: $fm-gutter-small;
  }
  p {
    color: $fm-black;
    font-size: $fm-font-micro;
    line-height: $fm-line-height-small;
  }

  &:not(.uk-first-column):before {
    content: "";
    display: block;
    background-color: $fm-blue;
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 60%;
    margin-top: 80px;
    margin-left: 15px;
  }

  &:not(.lastFeature):after {
     display: none;
  }

  @include small {
    padding-top: $fm-gutter-mini!important;
    padding-bottom: $fm-gutter-mini!important;
    h2 {
      font-size: $fm-font-small-mid;
    }
    p {
      font-size: $fm-font-mini;
    }
    &:before {
      display: none;
    }
    &:not(.lastFeature):after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 15px;
      transform: translate(50%);
      width: 50%;
      height: 1px;
      background-color: $fm-blue;
    }

    img {
      width: 120px;
      height: auto;
    }
  }

}

.horizontalPaddingFeature {
  padding-left: $fm-gutter-mini;
  padding-right: $fm-gutter-mini;

}

// ******************************
// *** SECONDARY MAIN CONTENT ***
// ******************************

.mainSecondarySection {
  padding-top: $fm-gutter-micro;
  padding-bottom: 0px;
}

.mainIntroPara {
  font-weight: $fm-weight-heavy;
  color: $fm-blue-navy;
  font-size: $fm-font-small;
  line-height: 2.2;
}

.contentLinks {
  li a {
    color: $fm-blue-royal;
    font-size: $fm-font-micro;
  }
  @include small {
    li a {
     font-size: $fm-font-small;

    }
    text-align: center;

  }
}

.mainContentStyling {

  @include small {
   margin-bottom: $fm-gutter-40;
  }
  p {
    font-size: $fm-font-mini;
    color: $fm-black;
    line-height: $fm-line-height-mini;
    margin-top: $fm-gutter-micro;
    margin-bottom: $fm-gutter-micro;
  }
  h1 {
   color: $fm-blue-navy;
   font-weight: $fm-weight-heavy;
   font-size: $fm-font-large;
  }

  h2 {
   color: $fm-blue-navy;
   font-weight: $fm-weight-heavy;
   font-size: $fm-font-small-mid;
   margin-top: $fm-gutter-mini;
   margin-bottom: $fm-gutter-micro;
  }
  h3 {
   color: $fm-blue-navy;
   font-weight: $fm-weight-heavy;
   font-size: $fm-font-mini;
   margin-top: $fm-gutter-mini;
   margin-bottom: $fm-gutter-micro;
  }
  h4 {
   color: $fm-blue-navy;
   font-weight: $fm-weight-heavy;
   font-size: $fm-font-mini;
   margin-top: $fm-gutter-mini;
   margin-bottom: $fm-gutter-micro;
  }
  h5 {
   color: $fm-blue-navy;
   font-weight: $fm-weight-heavy;
   font-size: $fm-font-mini;
   margin-top: $fm-gutter-mini;
   margin-bottom: $fm-gutter-micro;
  }
  h6 {
   color: $fm-blue-navy;
   font-weight: $fm-weight-heavy;
   font-size: $fm-font-mini;
   margin-top: $fm-gutter-mini;
   margin-bottom: $fm-gutter-micro;
  }
  li {
   color: $fm-black;
   font-size: $fm-font-mini;
   margin-top: 5px;
   margin-bottom: 5px;
  }
  a {
   color: $fm-blue-navy;
  }
  blockquote {
    border-left: 5px solid $fm-blue;
    background-color: $fm-blue-muted;
    padding-left: $fm-gutter-small;
    padding-right: $fm-gutter-small;
    padding-top: $fm-gutter-mini;
    padding-bottom: $fm-gutter-mini;
    margin-top: $fm-gutter-small;
    margin-bottom: $fm-gutter-small;

    p {
      color: $fm-blue-navy;
      font-size: $fm-font-mini;
      line-height: $fm-line-height-mini;
      font-style: normal;
    }

  }
  img {
    margin-top: $fm-gutter-mini;
    margin-bottom: $fm-gutter-mini;
  }


  iframe {
    margin-top: $fm-gutter-small;
    margin-bottom: $fm-gutter-small;
  }


}

//.anchor {
  //display: block;
  //position: relative;
  //top: -80px;
  //visibility: hidden;
//}

//.anchor {
  //&:before {
   //content:"";
   //display:block;
   //height: 60px; /* fixed header height*/
   //margin: -60px 0 0; /* negative fixed header height */
  //}
//}



// ************************************
// *** SECONDARY RIGHT HAND CONTENT ***
// ************************************

.sideMarginTopBottom {
  margin-top: $fm-gutter-40;
  margin-bottom: $fm-gutter-40;
}

.accredsBlockRight {
 margin-top: $fm-gutter-40;
 margin-bottom: $fm-gutter-40;
 @include small {
  margin-top: $fm-gutter-20;
  margin-bottom: $fm-gutter-large;
 }
}

.accreditationSide {
  img {
    padding-left: $fm-gutter-small;
    padding-bottom: $fm-gutter-mini;
  }
  @include small {
   img {
     margin: $fm-gutter-mini $fm-gutter-small;
     width: 80px;
     padding-left: 0px;
     padding-bottom: 0px;

   }
  }
}

.rightIntroText {

  p {
   font-size: $fm-font-micro;
   color: $fm-black;
   margin-bottom: $fm-gutter-mini;
  }
  text-align: right;
  @include small {
    text-align: center;
    p {
      font-size: $fm-font-mini;
    }

  }
  @include medium {
   text-align: center;
  }

}

.knowledgeBaseContainer {
 margin-top: $fm-gutter-40;
 margin-bottom: $fm-gutter-40;
 @include small {
  margin-top: $fm-gutter-large;
  margin-bottom: $fm-gutter-large;
 }
}

.knowledgeArticleContainer {
 text-align: right;
 background-color: $fm-blue-muted;
 border-bottom: 1px solid $fm-blue-navy;
 margin-bottom: $fm-gutter-mini;
 padding: $fm-gutter-mini $fm-gutter-mini;
 line-height: $fm-line-height-micro;
 @include small {
  text-align: center;
 }
 @include medium {
  text-align: center;
 }
 h6 {
   font-weight: $fm-weight-heavy;
   color: $fm-blue-navy;
   font-size: $fm-font-small;
   margin-bottom: $fm-gutter-micro;
 }
 p {
  margin-top: $fm-gutter-micro;
  margin-bottom: $fm-gutter-micro;

 }
 span {
  color: $fm-black;
  font-size: $fm-font-micro;
  font-weight: $fm-weight-regular;

 }
 a {

 }

}

// **************************************
// *** MARKETING GRAPHIC BANNER RIGHT ***
// **************************************

.testimonialBannerRight {
  margin-top: $fm-gutter-40;
  margin-bottom: $fm-gutter-40!important;
  padding-left: $fm-gutter-medium;
  padding-right: $fm-gutter-small;
  padding-top: $fm-gutter-large;
  padding-bottom: $fm-gutter-large;

  text-align: right;
  @include small {
   text-align: center;
   padding-left: $fm-gutter-small;
   padding-top: $fm-gutter-40;
   padding-bottom: $fm-gutter-medium;
   margin-top: $fm-gutter-large;
   margin-bottom: $fm-gutter-large!important;
  }
  @include medium {
   text-align: center;
   padding-left: $fm-gutter-small;
   padding-top: $fm-gutter-40;
   padding-bottom: $fm-gutter-medium;
  }
  @include large {
   padding-top: $fm-gutter-40;
   padding-bottom: $fm-gutter-medium;
  }



}

.graphicBannerRightHeadline {
   color: $fm-white;
   font-size: $fm-font-small-mid;
   font-weight: $fm-weight-heavy;
   @include small {

   }
   @include medium {

   }

}
.graphicBannerRightPara {
   color: $fm-white;
   font-size: $fm-font-mini;

}

.testimonialStarsRight {
  margin-top: $fm-gutter-mini;
  margin-bottom: $fm-gutter-mini;
  height: 30px;
  @include small {
    min-height: 28px;
  }
}

// *************************
// *** NEWSLETTER SIGNUP ***
// *************************

.newsletterRightContainer {
  margin-top: $fm-gutter-40;
  margin-bottom: 0!important;
}

// *********************
// *** HERO STANDARD ***
// *********************

.heroStandardSection {
  background-image: linear-gradient($fm-blue-muted-fade, $fm-blue-muted);
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: $fm-gutter-20;
}

.heroStandardTextFormat {
 //height: 100%;
 min-height: 160px;
 padding-left: $fm-gutter-large;
 padding-top: $fm-gutter-micro;
 padding-bottom: $fm-gutter-micro;
 // padding-top: $fm-gutter-40;
  h1 {
    font-size: $fm-font-medium;
    color: $fm-blue-navy;
    //font-weight: $fm-weight-heavy;
    margin-bottom: 0px;
  }
  p {
    margin-top: $fm-gutter-micro;
    font-size: $fm-font-mini;
    color: $fm-black;
    margin-bottom: 0px;
    //padding-bottom: $fm-gutter-small;

  }

  @include small {
    text-align: center;
    padding-left: 0px;
    padding-top: $fm-gutter-small;
    padding-bottom: $fm-gutter-mini;
    p {
      padding-bottom: 0px;
      margin-bottom: 0px;
    }
  }
  @include medium {
    padding-left: $fm-gutter-small;
    //padding-top: $fm-gutter-small;
  }
  @include large {
    //padding-top: $fm-gutter-small;
  }
}

.heroStandardImage {
 // margin-top: $fm-gutter-mini;
 width: 100%;
 height: 100%;
 img {
   width: 200px;
   height: auto;
   margin-top: $fm-gutter-mini;
 }
 @include small {
  margin-top: 0px;
  img {
    margin-top: 0px;
    width: 380px;
    height: auto;
  }

 }
 @include medium {

 }
}

// **************
// *** AUTHOR ***
// **************

.authorBlock {
  p {
    margin-bottom: 3px;
    margin-top: 3px;
  }
}

.authorHeight {
 height: 100%
}

// ***************
// *** LISTING ***
// ***************

.listingSection {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: $fm-gutter-40;

}

.listingArchiveButton {
  margin-top: $fm-gutter-medium!important;
}

// ********************
// *** TEAM LISTING ***
// ********************

.listingTextTeam {
  padding-top: $fm-gutter-micro;
  text-align: left;
  h4 {
    color: $fm-blue-navy;
    font-weight: $fm-weight-heavy;
    font-size: $fm-font-mini;
    margin-bottom: 0px;
  }
  h5 {
   color: $fm-black;
   font-size: $fm-font-micro;
   font-weight: $fm-weight-heavy;
   margin-top: $fm-gutter-micro;
   margin-bottom: $fm-gutter-micro;
  }
  p {
  margin-top: 0px;
  color: $fm-black;
  font-size: $fm-font-mini;
  }

}

// ************************
// *** ARCHIVE LISTINGS ***
// ************************

.archiveContainer {
 background-color: $fm-blue-muted;
 padding: $fm-gutter-mini $fm-gutter-mini;
 h4 {
  color: $fm-blue-navy;
  font-weight: $fm-weight-heavy;
  font-size: $fm-font-mini;
  margin-bottom: $fm-gutter-micro;
 }
 p {
  color: $fm-black;
  font-size: $fm-font-micro;
  margin-top: $fm-gutter-micro;
 }

}

// ***************************
// *** MODAL REQUEST QUOTE ***
// ***************************

// ********************
// *** GDPR COOKIES ***
// ********************

.cc-revoke {
  z-index: 500;
  &.cc-bottom {
    left: $fm-gutter-mini!important;
    border-top-left-radius: 0em!important;
    border-top-right-radius: 0em!important;
  }
}

// *****************************
// *** FOOTER ACCREDITATIONS ***
// *****************************

.footerAccredsSection {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: $fm-gutter-mini;
  margin-bottom: $fm-gutter-medium;
  img {
    height: 80px;
    width: auto;
    margin: $fm-gutter-micro $fm-gutter-micro;
  }
  @include small {
    img {
     //height: 100px;
     //width: auto;
     margin: $fm-gutter-mini $fm-gutter-mini;
    }
  }
}

.footerAccredsContainer {
  text-align: right;
  @include small {
    width: 80%;
    margin: auto;
    text-align: center;
  }

}

.footerAccreds {
  display: inline-block;
  //text-align: left;
}
