// add my custom styles to this SASS style sheet

// *****************
// *** VARIABLES ***
// *****************

// colors
$fm-blue-navy: #005288;
$fm-blue: #009DDC;
$fm-blue-muted: #F6F7FF;
$fm-blue-muted-fade: #F7F8FF;
$fm-orange: #FF5E15;
$fm-black: #1A1A1A;
$fm-white: #FFFFFF;

// font weights
$fm-weight-heavy: 800;
$fm-weight-medium: 600;
$fm-weight-regular: 400;

// gutters
$fm-gutter-micro: 7px;
$fm-gutter-mini: 15px;
$fm-gutter-20: 20px;
$fm-gutter-small: 30px;
$fm-gutter-40: 40px;
$fm-gutter-medium: 60px;
$fm-gutter-large: 80px;

// font sizes
$fm-font-micro: 0.8rem;
$fm-font-mini: 1rem;
$fm-font-small: 1.33rem;
$fm-font-medium: 1.83rem;
$fm-font-large: 2.1rem;

// line height
$fm-line-height-micro: 1.36;
$fm-line-height-mini: 1.83;
$fm-line-height-small: 2;
$fm-line-height-medium: 1.45;
$fm-line-height-large: 1.24;

// borders
$fm-border-height: 1px;
$fm-border-height-underline: 1px;




// ********************
// *** MEDIA MIXINS ***
// ********************

// less than or equal to 639px
@mixin small {
  @media only screen and (max-width: #{$breakpoint-xsmall-max}) {
    @content;
  }
}

// between 640 and 959 pixels
@mixin medium {
  @media (min-width: #{$breakpoint-small}) and (max-width: #{$breakpoint-small-max}) {
    @content;
  }
}

// between 960 pixels and 1199 pixels, i.e. small tablet
@mixin large {
  @media (min-width: #{$breakpoint-medium}) and (max-width: #{$breakpoint-medium-max}) {
    @content;
  }
}

// between 1200 and 1599 pixels, i.e. tablet and medium screens
@mixin extraLarge {
  @media (min-width: #{$breakpoint-large}) and (max-width: #{$breakpoint-large-max}) {
    @content;
  }
}

// screens greater than or equal to 1600
@mixin largest {
  @media (min-width: #{$breakpoint-xlarge}) {
    @content;
  }
}

// ***********************
// *** utility classes ***
// ***********************

// not sure we need this as it is better to use the grid
.uk-list-inline > li {
    list-style: none;
    display: inline-block;

}

// padding
.fm-padding-mini {
 padding-top: $fm-gutter-mini;
 padding-bottom: $fm-gutter-mini;
}

.fm-padding-mini-left {
 padding-left: $fm-gutter-mini;
}

.fm-no-padding-bottom {
 padding-bottom: 0;
}

.fm-padding-right-small {
 padding-right: $fm-gutter-mini;
}

.padding-top-bottom-20 {
 padding-top: $fm-gutter-20;
 padding-bottom: $fm-gutter-20;
}

// margins
.margin-bottom-mini {
 margin-bottom: $fm-gutter-mini;
}

.fm-no-margin-bottom {
 margin-bottom: 0;
}

.fm-margin-right-small {
 margin-right: $fm-gutter-mini;
}

.fm-no-margin-top-bottom {
 margin-top: 0;
 margin-bottom: 0;
}

.fm-margin-top-small {
 margin-top: $fm-gutter-small;
}

.fm-margin-top-large {
 margin-top: $fm-gutter-large;
}



// borders
.fm-border-bottom {
 border-bottom: $fm-border-height solid $fm-blue;
}

.fm-headerLine {
 width: 150px;
 height: $fm-border-height-underline;
 background-color: $fm-blue;
 margin-bottom: $fm-gutter-small;

}

// fonts
.fm-font-navy {
 color: $fm-blue-navy;
}

.fm-font-black {
 color: $fm-black;
}

.fm-font-bold {
 font-weight: $fm-weight-heavy;
}

.fm-font-feature {
 font-size: $fm-font-mini;
}

.fm-font-large {
  font-size: $fm-font-large;
}

.fm-font-mini {
 font-size: $fm-font-mini;
}

.fm-font-micro {
  font-size: $fm-font-micro;
}

// widths
.fm-width-100 {
 width: 100%;
}

.fm-width-100-mobile {
 @include small {
  width: 100%;
 }
}

// background
.fm-background-navy {
 background-color: $fm-blue-navy;
}

.fm-background-blue {
 background-color: $fm-blue;
}

// forms
.fm-input-border {
 border: 1px solid $fm-orange;
}

// *************************
// *** headerTop section ***
// *************************

.headerTop {

 padding-top: 0;
 padding-bottom: 0;

 border-bottom: $fm-border-height solid $fm-blue;

 color: $fm-blue-navy;

 p {
   font-size: $fm-font-micro;
 }

}

.headerParaPaddingLeft {
 padding-left: $fm-gutter-micro;
}

.headerParaPaddingRight {
 padding-right: $fm-gutter-small;
 @include small {
  padding-right: 0;
 }
 @include medium {
  padding-right: 0;
 }
}

// ******************************
// *** MAIN NAV WITH FEATURES ***
// ******************************

.navFeature {
  img {
    padding-right: $fm-gutter-micro;
    padding-top: 3px;
  }
  div {
    width: 134px;

  }
  p {
    font-size: $fm-font-micro;
    line-height: $fm-line-height-micro;
    margin-bottom: 0;
  }
}

.navBorderBottom {
 @include small {
  border-bottom: $fm-border-height solid $fm-blue;
 }
 @include medium {
  border-bottom: $fm-border-height solid $fm-blue;
 }

}

// ***********************
// *** SIDE NAVIGATION ***
// ***********************

.firstLevelHeaders {
 font-size: $fm-font-small;
 a {
   color: $fm-white!important;
 }
}

.secondLevelHeaders {
 font-size: $fm-font-mini;
 font-weight: $fm-weight-heavy;
 a {
  color: $fm-white!important;
 }

}

.thirdLevelHeaders {
 font-weight: $fm-weight-regular;
 opacity: 1;
}

.navActive {
 & > a {
   opacity: 0.4;
 }

}



.buttonIcon {
 margin-top: -3px;
 padding-left: 12px;
}

.offCanvasSocialMedia {
  margin-top: $fm-gutter-small;
  img {
    width: 50px;
    // height: auto;
    padding-right: $fm-gutter-mini;
  }
}

// ***********************
// *** MAIN NAVIGATION ***
// ***********************

.navMainActive {
 // using ampersand and > symbol only targets child and not nested children
 & > a {
  border-bottom: 3px solid $fm-blue;
 }
}

.mainParentNavLink {
 & > a {
  color: $fm-white!important;
 }
}

.finalLinkBlue {
 & > a {
   background-color: $fm-blue;
 }
}

// *******************
// *** BREADCRUMBS ***
// *******************

.fm-breadcrumbheader {
 padding-right: $fm-gutter-mini;
}

.fm-breadcrumb {
  img {
    width: 18px;
    height: auto;
    margin-top: -6px;
    margin-left: $fm-gutter-micro;
 }
 p {
   margin-bottom: 0;
   &:hover {
         color: $fm-blue-navy;
   }
 }

}

.mobileBreadCrumbs {
 img {
   width: 18px;
   height: auto;
   margin-top: -6px;
   margin-left: 0;
 }
 p {
   margin-bottom: 0;
 }
 span {
   margin-left: 5px;
   margin-right: 5px;
 }

}

// **************
// *** FOOTER ***
// **************

.footerExtraMobileMargin {
 @include small {
   margin-top: $fm-gutter-large!important;
 }
 @include medium {
  margin-top: $fm-gutter-large!important;
 }
}

.footerPaddingExtraBalance {
 padding-top: 0px;
 @include large {
  padding-top: 16px;
 }
 @include extraLarge {
  padding-top: 16px;
 }
 @include largest {
  padding-top: 16px;
 }
}

.formWidth {
 @include medium {
   width: 60%;
   margin: auto;
 }
}

.formSubmit {
 margin-left: 120px;
 @include small {
   margin-left: 0;
   width: 100%;
 }
 @include medium {
  margin: auto;
 }
}


.flexFooterSocialMedia {
 img {
  width: 55px;
  height: 55px;
 }
}

.flexSocialMediaMargin {
  margin-right: $fm-gutter-mini;
  margin-bottom: $fm-gutter-mini;
}

/*.footerTeamPerson {
  img {
   width: 220px;
   height: 224px;
  }
  margin-top: -166px;
  @include small {
   margin-top: $fm-gutter-small;
  }
  @include medium {
   margin-top: $fm-gutter-small;
  }

}*/

.footerTeamPerson {
 height: 440px;
 @include small {
  height: auto;
  margin-top: $fm-gutter-medium;
 }
 @include medium {
  height: auto;
  margin-top: $fm-gutter-medium;
 }
 img {
  width: 220px;
  height: 224px;
 }

}

.bottomFooter {
  padding-top: $fm-gutter-mini;
  padding-bottom: $fm-gutter-mini;
}

.footerBandLightBlue {
 padding-top: 0;
 padding-bottom: 0;
 height: 20px;
}

.bottomFooterLinks {
 a {
   color: $fm-white;
   font-size: $fm-font-micro;
   padding-right: $fm-gutter-mini;
 }
 @include small {
   a {
     padding-top: $fm-gutter-micro;
   }
 }
 @include medium {
   a {
     padding-top: $fm-gutter-micro;
   }
 }

}

.bottomFooterLinksRight {
 @include small {
  margin-top: $fm-gutter-mini!important;
 }
 @include medium {
  margin-top: $fm-gutter-mini!important;
 }
 a {
   color: $fm-white;
   font-size: $fm-font-micro;
 }
}


.footerScrollTopIcon {
 margin-top: -130px;
 @include small {
   margin-top: -200px;
 }
 @include medium {
  margin-top: -170px;
 }

}

// ************
// *** HERO ***
// ************

.heroSection {
 background-image: linear-gradient($fm-blue-muted-fade, $fm-blue-muted);
 padding-top: 0;
 padding-bottom: 0;
 margin-bottom: $fm-gutter-20;
}

.heroTextFormat {
 padding-left: $fm-gutter-large;
 padding-top: $fm-gutter-small;
 @include small {
  padding-left: $fm-gutter-small;
  h1 {
   text-align: center;
   }
  a {
   width: 100%;
   margin-bottom: $fm-gutter-mini!important;
   }
  }
 h1 {
  color: $fm-blue-navy;
  font-size: $fm-font-large;
 }
 p {
  color: $fm-black;
  font-size: $fm-font-micro;
 }
 ul {
  color: $fm-black;
  font-size: $fm-font-micro;
 }
 a {
  margin-bottom: $fm-gutter-40;
 }

}

.heroImage {
  padding-top: $fm-gutter-mini;
  @include small {
    padding-top: 0;
    margin-top: $fm-gutter-small!important;
  }
  img {
    width: 100%;//392px;
    max-width: 392px;
    //height: 333px;
 }
}


// ******************
// *** HOME INTRO ***
// ******************

.h2Intro {
  @include small {
    text-align: center;
  }
  @include medium {
   text-align: center;
  }
}


.homeIntroPara {

 @include small {
   text-align: center;
 }

 @include medium {
   text-align: center;
 }

  p {
   color: $fm-black;
   font-size: $fm-font-mini;
   line-height: $fm-line-height-small;
  }
}

.accreditations {
  img {
    padding-left: $fm-gutter-small;
    padding-bottom: $fm-gutter-small;
  }
}

// *********************
// *** SERVICE BLOCK ***
// *********************

.servicesExtraMargin {
 margin-bottom: $fm-gutter-40;
}


.serviceContainer {
 p {
   margin-top: $fm-gutter-micro;
   font-size: $fm-font-mini;
   color: $fm-black;
 }
 img {
  max-width: 74px;
  max-height: 74px;
 }
 @include small {
  text-align: center;
  img {
   max-width: 120px;
   max-height: 120px;
  }
 }
 @include medium {
  text-align: center;
  img {
   max-width: 120px;
   max-height: 120px;
  }
 }
 height: 100%;
 background-color: $fm-blue-muted;
 padding: $fm-gutter-mini $fm-gutter-mini;
 padding-left: $fm-gutter-mini;
 padding-right: $fm-gutter-mini;
 padding-top: $fm-gutter-mini;
 padding-bottom: 0;

 h3 {
   margin-bottom: $fm-gutter-micro;
 }

}
