// add my custom styles to this SASS style sheet

// *****************
// *** VARIABLES ***
// *****************

// colors
$blue-navy: #005288;
$blue: #009DDC;
$blue-muted: #F6F7FF;
$orange: #FF5E15;
$black: #1A1A1A;
$white: #FFFFFF;

// font weights
$weight-heavy: 800;
$weight-regular: 400;

// gutters
$gutter-mini: 15px;
$gutter-small: 30px;
$gutter-medium: 60px;
$gutter-large: 80px;

// font sizes
$font-mini: 1rem;
$font-small: 1.33rem;
$font-medium: 1.83rem;
$font-large: 2.83rem;

// line spacing
$line-height-mini: 1.83;
$line-height-small: 2;
$line-height-medium: 1.45;
$line-height-large: 1.24;

// ********************
// *** MEDIA MIXINS ***
// ********************

// less than or equal to 639px
@mixin small {
  @media only screen and (max-width: #{$breakpoint-xsmall-max}) {
    @content;
  }
}

// between 640 and 959 pixels
@mixin medium {
  @media (min-width: #{$breakpoint-small}) and (max-width: #{$breakpoint-small-max}) {
    @content;
  }
}

// between 960 pixels and 1199 pixels, i.e. small tablet
@mixin large {
  @media (min-width: #{$breakpoint-medium}) and (max-width: #{$breakpoint-medium-max}) {
    @content;
  }
}

// between 1200 and 1599 pixels, i.e. tablet and medium screens
@mixin extraLarge {
  @media (min-width: #{$breakpoint-large}) and (max-width: #{$breakpoint-large-max}) {
    @content;
  }
}

// screens greater than or equal to 1600
@mixin largest {
  @media (min-width: #{$breakpoint-xlarge}) {
    @content;
  }
}


// *** utility classes ***

// not sure we need this as it is better to use the grid
.uk-list-inline > li {
    list-style: none;
    display: inline-block;
    padding-left: $largeGutter;
    padding-right: $largeGutter;
}

// padding


// margins
