<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="mEmL7yikK_3-eBpjbilfbmAbWKQ_b0vg1duF8vKVzas">

    <!-- Title, Meta Description and Canonical -->
    <title>{{page.meta_data.page_title}}</title>
    <meta name="description" content="{{page.meta_data.meta_description}}" />
    {% if page.needsCanonical == true %}
    <link rel="canonical" href="{{ page.meta_data.canonical_link }}" />
    {% else %}
    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}" />
    {% endif %}

    <!-- cookie consent - opt-out -->
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/cookieconsent.min.css" />
    <script src="{{ site.url }}/js/cookieconsent.min.js"></script>
    <script src="{{ site.url }}/js/cookiescientific.js"></script>

    <!-- add Google analytics -->

    <!-- Open Graph Tags -->
    <meta property="og:locale" content="en_GB" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ page.meta_data.social_media_title }}" />
    <meta property="og:description" content="{{ page.meta_data.social_media_description }}" />
    <meta property="og:url" content="{{ site.url }}{{ page.url | replace:'index.html',''}}" />
    <meta property="og:site_name" content="{{ site.data.company.company_name }}" />
    <meta property="article:publisher" content="{{ site.data.company.company_name }}" />
    <meta property="og:image" content="{{ page.meta_data.social_media_image }}" />
    <meta property="og:image:width" content="1024" />
    <meta property="og:image:height" content="512" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="{{ page.meta_data.social_media_description }}" />
    <meta name="twitter:title" content="{{ page.meta_data.social_media_title }}" />
    <meta name="twitter:site" content="{{ site.data.company.social_media.twitter }}" />
    <meta name="twitter:image" content="{{ page.meta_data.social_media_image }}" />
    <meta name="twitter:creator" content="{{ site.data.company.social_media.twitter_username }}" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600,800" rel="stylesheet">

    <!-- Web Clips -->
    <link rel="apple-touch-icon" href="/images/design-assets/touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/design-assets/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/design-assets/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/images/design-assets/touch-icon-ipad-retina.png">

    <!-- Favicon -->
    <link href="/images/design-assets/favicon.ico" rel="shortcut icon" />

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/styles.css">


  </head>


  <body>

   <div class="uk-offcanvas-content">

    <header><!-- start header -->

     {% include skip-to-content.html %}

     {% include header-top.html %}

     {% include nav-logo-features.html %}

     {% include nav-main-sticky.html %}

     {% include breadcrumbs.html %}

     {% include alert.html %}

    </header><!-- end header -->

     {{ content }}

     {% include nav-mobile.html %}

     {% include modal-request-quote.html %}

     {% include modal-mailchimp.html %}







     {% include footer.html %}








   </div><!-- end of offcanvas-content -->

    <!-- Javascript files -->
    <script src="{{ site.url }}/js/uikit.min.js"></script>
    <script src="{{ site.url }}/js/uikit-icons.min.js"></script>
    <script src="{{ site.url }}/js/projectfuncs.js"></script>



  </body>
</html>
